= simple_form_for [:admin, @template.becomes(::Template)], html: { class: 'form-horizontal' } do |form|

  = form.input :name, input_html: { autofocus: true }
  = form.input :description, input_html: { class: 'simple-editor', rows: 2 }

  %fieldset
    %legend= translate('views.forms.settings')
    .fields
      = form.input :type, as: :hidden
      .form-group
        %label.control-label.col-sm-3
          = ::Template.human_attribute_name :type
        .col-sm-9
          .form-control-static
            = @template.type.constantize.model_name.human

      = form.input :file_name, collection: @template.class.template_files
      = form.input :region_labels, input_html: { class: 'space-tokenizer' }

  = form_actions do
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon(:save, translate(@template.new_record? ? :create : :update, scope: 'helpers.submit', model: ::Template.model_name.human))
    = cancel_button [:admin, @template.becomes(::Template)]