- templates ||= @templates
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'template_ids[]', '', id: nil

%table.table.table-striped
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th= sort_link_for templates, :name
      - if @template_type.blank?
        %th= ::Template.human_attribute_name :type
      - if actions
        %th.actions
  %tbody
    - templates.each do |template|
      %tr
        - if checkboxes
          %td.checkbox-cell
            = check_box_tag 'template_ids[]', template.id, false, class: 'table-checkbox', id: nil
        %td= link_to template.name, admin_template_path(template)
        - if @template_type.blank?
          %td= template.class.model_name.human
        - if actions
          %td.actions
            = action_buttons_for template.becomes(::Template), size: :mini, icon_only: true

= paginate templates