%table.table.table-striped
  %thead
    %tr
      %th.thumbnail-cell
      %th= ::Template.human_attribute_name :name
      - if @template_type.blank?
        %th= ::Template.human_attribute_name :type
      %th.actions
  %tbody
    - @templates.each do |template|
      %tr
        %td.thumbnail-cell
          - if template.screenshot.present?
            = link_to admin_template_path(template) do
              = image_tag template.screenshot.url(:thumbnail), alt: template.name, class: 'thumbnail'
        %td= link_to template.name, admin_template_path(template)
        - if @template_type.blank?
          %td= template.class.model_name.human
        %td.actions
          = action_buttons_for template.becomes(::Template), size: :mini, icon_only: true
