- templates ||= @templates
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'template_ids[]', '', id: nil

%table.table.table-hover
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th= sort_link_for templates, :name
      %th.hidden-xs= ::Template.human_attribute_name :type
      - if actions
        %th.actions
  %tbody
    - templates.each do |template|
      = render 'template', template: template, checkbox: checkboxes, actions: actions

= paginate templates