= fields.simple_fields_for :embeddable do |embeddable_fields|
  = render "admin/pages/#{embeddable_fields.object.class.model_name.element.pluralize}/fields", fields: embeddable_fields, embedded: true
  = embeddable_fields.input :id, as: :hidden if embeddable_fields.object.new_record?

  /= fields.simple_fields_for :translations do |translation_fields|
  /  = render "admin/#{fields.object.class.model_name.plural}/translation_fields", fields: translation_fields

  /= translation_pane_for translation_fields.object.locale do
  /  = translation_fields.object.inspect
