= simple_form_for [:admin, @page], wrappers: :horizontal_form, html: { class: 'form-horizontal', multipart: true } do |form|

  / Editor
  /= translation_manager_for @page, url: translation_fields_admin_pages_path(format: :js), data_type: 'script', type: 'PageTranslationManager' do

  %fieldset
    %legend Einstellungen
    .fields
      = form.input :title, autofocus: true
      = form.input :parent_id, input_html: { class: 'resource-combobox', data: { resource: 'pages', from: admin_pages_path(parent_assignable_id: @page.persisted? ? @page.id : nil, format: :json), formatter: 'PageComboboxFormatter', include_blank: false } }
      - if @page.new_record? or !@page.root?
        = form.input :slug, required: true, input_html: { class: 'monospace', autocomplete: 'off' }
      - if @page.embeddable_class.supports_template?
        = form.input :template_id, required: true, collection: @page.available_templates, input_html: { autocomplete: 'off' }

  %fieldset
    %legend Sichtbarkeit
    .fields
      = form.input :published, as: :radio_buttons, include_blank: false, wrapper: :horizontal_radio_and_checkboxes
      = form.input :menu_item, wrapper: :horizontal_boolean

  %fieldset
    %legend Suchmaschinenoptimierung
    .fields
      = form.input :indexable, wrapper: :horizontal_boolean
      = form.input :meta_description
      = form.input :meta_keywords, input_html: { data: { behavior: 'tokenizer' } }

  = form_actions do
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon(:save, translate(@page.new_record? ? :create : :update, scope: 'helpers.submit', model: Page.model_name.human))
