= simple_form_for [:admin, @page], html: { class: 'form-horizontal' } do |form|

  = render 'translation_tabs', object: @page, url: translation_fields_admin_pages_path

  .tab-content#translations
    = form.simple_fields_for :translations do |translation_fields|
      = render 'translation_fields', fields: translation_fields

  %fieldset
    %legend= translate('views.forms.settings')
    .fields
      = form.association :parent, collection: page_sitemap_collection_for_select(Page.assignable_as_parent_of(@page)), label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }, input_html: { rows: 4 }, include_blank: translate('helpers.prompts.none') if Page.assignable_as_parent_of(@page).exists?
      = form.input :slug, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }
      = form.association :template, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }, include_blank: translate('helpers.prompts.default')

  .form-group
    .col-lg-offset-2.col-lg-10
      = form.button :submit, class: 'btn-primary'
      = button_link_to translate('helpers.links.cancel'), :admin_pages