= simple_form_for [:admin, @page], html: { class: 'form-horizontal' } do |form|

  .fields
    = form.association :parent, collection: page_sitemap_collection_for_select(Page.assignable_as_parent_of(@page)), label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }, input_html: { rows: 4 }, include_blank: translate('prompts.none') if Page.assignable_as_parent_of(@page).exists?
    = form.input :slug, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }
    = form.association :template, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-4' }, include_blank: translate('prompts.default')

  = form.simple_fields_for :translations do |translation_fields|
    %fieldset
      %legend= translate(translation_fields.object.locale, scope: :languages)
      .fields
        = translation_fields.input :locale, as: :hidden
        = translation_fields.input :title, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-6' }
        = translation_fields.input :content, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }, input_html: { rows: 6, class: 'editor' }

  .form-group
    .col-lg-offset-2.col-lg-10
      = form.button :submit, class: 'btn-primary'
      = button_link_to translate('helpers.links.cancel'), :admin_pages