= simple_form_for [:admin, @page], html: { class: 'form-horizontal', multipart: true } do |form|

  .row
    .col-lg-8
      #page_embeddable_fields_empty.well.text-center
        %h4= translate('views.admin.pages.empty_type')

      = loader size: :large, id: 'page_embeddable_fields_loader'

      #page_embeddable_fields
        = render 'embeddable_fields', fields: form

    .col-lg-4
      #page_settings.panel.panel-default
        .panel-heading
          %h3.panel-title= translate('views.forms.settings')

        .panel-body
          = form.input :embeddable_type, collection: page_types_for_select, label_html: { class: 'col-lg-4' }, container_html: { class: 'col-lg-8' }
          #page_embeddable_settings
            = render 'embeddable_settings', fields: form
          - if @page.new_record? or !@page.root?
            = form.input :slug, input_html: { autocomplete: 'off' }, label_html: { class: 'col-lg-4' }, container_html: { class: 'col-lg-8' }
            - if Page.assignable_as_parent_of(@page).exists?
              = form.association :parent, collection: page_sitemap_collection_for_select(Page.assignable_as_parent_of(@page).with_translations), input_html: { rows: 4 }, include_blank: false, label_html: { class: 'col-lg-4' }, container_html: { class: 'col-lg-8' }
          = form.input :published, label_html: { class: 'col-lg-4' }, container_html: { class: 'col-lg-8' }
          = form.input :menu_item, label_html: { class: 'col-lg-4' }, container_html: { class: 'col-lg-8' }

          .form-group.form-actions
            .col-lg-12
              = form.button :button, type: 'submit', class: 'btn-primary btn-block' do
                = prepend_icon(:save, translate(@page.new_record? ? :create : :update, scope: 'helpers.submit', model: Page.model_name.human))
              = button_link_to translate('helpers.links.cancel'), :admin_pages, block:true
