= simple_form_for [:admin, @page], remote: true, wrappers: :horizontal_form, html: { class: 'form-horizontal' } do |form|
  .modal-body
    = form.input :embeddable_type, as: :hidden
    = form.input :parent_id, as: :hidden
    = form.input :title, input_html: { autofocus: true }

  .modal-footer
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon :save, translate('helpers.links.save')
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }