- present @page, with: Admin::PagePresenter do |page|
  %dl.dl-horizontal
    %dt= Page.human_attribute_name :embeddable_type
    %dd= page.embeddable_type
    - if page.template.present?
      %dt= Page.human_attribute_name :template
      %dd= link_to page.template.name, admin_template_path(page.template)
    %dt= Page.human_attribute_name :published
    %dd= page.published
    %dt= Page.human_attribute_name :menu_item
    %dd= page.menu_item
    %dt= Page.human_attribute_name :indexable
    %dd= page.indexable
    - unless page.root?
      %dt= Page.human_attribute_name :path
      %dd= page.path
    %dt= Page.human_attribute_name :translated_locales
    %dd= page.translated_locales
    - if content_for? :additional_page_details
      = yield :additional_page_details
    - if page.author
      %dt= Page.human_attribute_name :author
      %dd= link_to page.author_name, [:admin, page.author]
    %dt= Page.human_attribute_name :updated_at
    %dd= page.updated_at
