= translation_pane_for fields.object.locale do
  = fields.input :_destroy, as: :hidden, input_html: { class: 'destroy-translation' }
  = fields.input :locale, as: :hidden
  = fields.input :title
  = fields.input :meta_description
  = fields.input :meta_keywords, input_html: { data: { behavior: 'tokenizer' } }