%footer#footer.hidden-xs

  %nav.navbar.navbar-footer{role: 'navigation'}
    / Facebook Like Button
    .navbar-text.site-social-buttons
      = facebook_site_like_button

    / Tobias Roetsch
    %ul.nav.navbar-nav.author-social-buttons
      %li= link_to 'Tobias Roetsch', page_path('about/tobias')
      %li.visible-lg
        = link_to 'http://facebook.com/roetsch', class: 'icon-link', title: 'Facebook', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :facebook, fixed_width: true, size: :lg
          %span.sr-only Facebook

      %li.visible-lg
        = link_to 'http://twitter.com/taenaron', class: 'icon-link', title: 'Twitter', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :twitter, fixed_width: true, size: :lg
          %span.sr-only Twitter

      %li.visible-lg
        = link_to 'http://taenaron.deviantart.com', class: 'icon-link', title: 'DeviantArt', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :deviantart, fixed_width: true, size: :lg
          %span.sr-only DeviantArt

      %li.visible-lg
        = link_to 'http://500px.com/taenaron', class: 'icon-link', title: '500px', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          %i.footer-icon-500px
          %span.sr-only 500px

      %li.visible-lg
        = link_to 'http://www.behance.net/taenaron', class: 'icon-link', title: 'Behance', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :behance, fixed_width: true, size: :lg
          %span.sr-only Behance

    / Jeff Michelmann
    %ul.nav.navbar-nav.author-social-buttons
      %li= link_to 'Jeff Michelmann', page_path('about/jeff')
      %li.visible-lg
        = link_to 'http://facebook.com/jeff.gucken', class: 'icon-link', title: 'Facebook', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :facebook, fixed_width: true, size: :lg
          %span.sr-only Facebook

      %li.visible-lg
        = link_to 'http://twitter.com/jmichelmann', class: 'icon-link', title: 'Twitter', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :twitter, fixed_width: true, size: :lg
          %span.sr-only Twitter

      %li.visible-lg
        = link_to 'http://gucken.deviantart.com', class: 'icon-link', title: 'DeviantArt', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
          = icon :deviantart, fixed_width: true, size: :lg
          %span.sr-only DeviantArt

    / Menu Items
    %ul.nav.navbar-nav.navbar-right
      - footer_menu_items.each do |page|
        %li= link_to page, page

      %li
        = link_to change_locale_path(next_locale), hreflang: next_locale, data: { no_turbolink: true } do
          = prepend_icon :globe, next_locale.to_s.upcase, fixed_width: true
