%footer#footer.hidden-xs

  %nav.navbar.navbar-footer{role: 'navigation'}
    / Facebook Like Button
    .navbar-text.social-buttons.site-social-buttons
      = facebook_site_like_button

    %ul.nav.navbar-nav.social-buttons
      %li
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_donate_widget" class="hidden">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="2496MM64LY268">
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        = link_to 'https://www.paypal.com', data: { submit: '#paypal_donate_widget' } do
          = icon :paypal, fixed_width: true, size: :lg
          = translate('helpers.links.donate')

    / Tobias Roetsch
    - cache [@tobias, :footer_social_buttons] do
      %ul.nav.navbar-nav.social-buttons.hidden-sm.hidden-xs
        %li= link_to @tobias.name, page_path('about/tobias')
        %li.visible-lg
          = footer_social_network_link @tobias, 'Facebook' do
            = icon :facebook, fixed_width: true, size: :lg
        %li.visible-lg
          = footer_social_network_link @tobias, 'Twitter' do
            = icon :twitter, fixed_width: true, size: :lg
        %li.visible-lg
          = footer_social_network_link @tobias, 'DeviantArt' do
            = icon :deviantart, fixed_width: true, size: :lg
        %li.visible-lg
          = footer_social_network_link @tobias, '500px' do
            %i.footer-icon-500px
        %li.visible-lg
          = footer_social_network_link @tobias, 'Behance' do
            = icon :behance, fixed_width: true, size: :lg
            %span.sr-only Behance

    / Jeff Michelmann
    - cache [@jeff, :footer_social_buttons] do
      %ul.nav.navbar-nav.social-buttons.hidden-sm.hidden-xs
        %li= link_to 'Jeff Michelmann', page_path('about/jeff')
        %li.visible-lg
          = footer_social_network_link @jeff, 'Facebook' do
            = icon :facebook, fixed_width: true, size: :lg
        %li.visible-lg
          = footer_social_network_link @jeff, 'Twitter' do
            = icon :twitter, fixed_width: true, size: :lg
        %li.visible-lg
          = footer_social_network_link @jeff, 'DeviantArt' do
            = icon :deviantart, fixed_width: true, size: :lg

    / Menu Items
    %ul.nav.navbar-nav.navbar-right
      - footer_menu_items.each do |page|
        %li= link_to page, page

      %li
        = link_to change_locale_path(next_locale), hreflang: next_locale, data: { no_turbolink: true } do
          = prepend_icon :globe, next_locale.to_s.upcase, fixed_width: true
