.row
  .col-md-offset-1.col-md-10
    .page-prominent-container-md
      = render 'breadcrumbs'

      .page-header
        %h1= @page.title

      .page-body
        .row
          %div{class: region_content_for?(:main) ? 'col-sm-8 col-md-7' : 'col-sm-12'}
            = simple_form_for @message, as: :message, url: @page, wrapper: :vertical_form, defaults: { input_html: { class: 'input-lg' }} do |form|
              .content.form-inputs
                .row
                  .col-sm-6
                    = form.input :first_sender_name, label: false, input_html: { autofocus: true }
                  .col-sm-6
                    = form.input :last_sender_name, label: false
                = form.input :sender_email, label: false
              .content.form-inputs
                = form.input :subject, label: false
                = form.input :body, label: false, input_html: { rows: 8 }
              .content.form-group
                = form.button :submit, class: 'btn-primary btn-lg pull-right'

          - if region_content_for? :main
            .col-sm-4.col-md-offset-1
              = yield_region :main
