= simple_form_for [:admin, @page, @contact_form], url: :admin_page_contact_form, wrappers: :horizontal_form, html: { class: 'form-horizontal', multipart: true } do |form|

  %fieldset
    %legend= Page::ContactForm.human_attribute_name(:recipients)
    .fields
      = form.association :recipients, as: :check_boxes, wrapper: :horizontal_radio_and_checkboxes

  = form_actions do
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon(:save, translate(@page.new_record? ? :create : :update, scope: 'helpers.submit', model: Page.model_name.human))
