- if @image_styles.any?
  %ul#image_styles.gtg-admin-action-list
    - @image_styles.each do |image_style|
      = content_tag_for :li, image_style.becomes(Image::Style), class: 'clearfix' do
        .pull-left
          = link_to image_style.transformed_dimensions, image_style.asset_url, target: '_blank'
        .actions.pull-right
          .btn-toolbar
            - if image_style.attachment?
              .btn-group= button_link_to icon(:upload, fixed_width: true), edit_admin_image_style_path(@image, image_style), size: :mini, title: translate('helpers.links.edit'), data: { toggle: 'tooltip', container: 'body' }
            .btn-group= button_link_to icon(:crop, fixed_width: true), crop_admin_image_style_path(@image, image_style), size: :mini, title: translate('helpers.links.crop_and_scale'), data: { toggle: 'tooltip', container: 'body' }
            .btn-group= destroy_button_link_for image_style.becomes(Image::Style), url: admin_image_style_path(@image, image_style), size: :mini, icon_only: true