.col-lg-offset-4.col-lg-4

  .page-header
    %h1= translate('views.admin.users.headlines.sign_in')

  = simple_form_for @sign_in_activity, as: :session, url: :admin_sign_in do |form|

    = form.input :email, autofocus: true, placeholder: SignInActivity.human_attribute_name(:email), label_html: { class: 'sr-only' }
    = form.input :password, placeholder: SignInActivity.human_attribute_name(:password), label_html: { class: 'sr-only' }
    = form.input :permanent, as: :boolean, inline_label: SignInActivity.human_attribute_name(:permanent), label_html: { class: 'sr-only' }

    .form-group
      = form.button :button, translate('views.admin.users.sign_in'), class: 'btn-primary btn-block'
      = button_link_to translate('helpers.links.cancel'), :root, block: true

  /= render "devise/shared/links"