.col-sm-offset-4.col-sm-4

  .page-header
    %h1.text-center= translate('views.admin.users.headlines.sign_in')

  = simple_form_for @sign_in_activity, as: :session, url: :admin_login, wrapper: :dialog_form do |form|

    = form.input :email, autofocus: true, placeholder: Admin::User::SignInActivity.human_attribute_name(:email), input_html: { class: 'input-lg', autocomplete: 'off' }
    = form.input :password, placeholder: Admin::User::SignInActivity.human_attribute_name(:password), input_html: { class: 'input-lg' }
    = form.input :permanent, as: :boolean, wrapper: :vertical_boolean

    .form-group
      = form.button :button, translate('views.admin.users.sign_in'), class: 'btn-primary btn-block btn-lg'