- present attachment, with: Admin::AttachmentPresenter do |attachment|
  = content_tag_for :tr, attachment do
    - if local_assigns.fetch(:checkbox, true)
      %td.checkbox-cell
        = check_box_tag 'attachment_ids[]', attachment.id, false, class: 'table-checkbox', id: nil
    %td
      = link_to attachment.title, attachment.show_path
      %br
      %span.text-muted.ignored= attachment.content_type
    %td= attachment.file_size
    %td= attachment.downloads_count
    %td= attachment.updated_at
    - if local_assigns.fetch(:actions, true)
      %td.actions
        = attachment.action_buttons icon_only: true
