- present attachment, with: Admin::AttachmentPresenter do |attachment|
  = content_tag_for :tr, attachment do
    - if checkbox
      %td.checkbox-cell
        = check_box_tag 'attachment_ids[]', attachment.id, false, class: 'table-checkbox', id: nil
    %td= link_to attachment.title, attachment.edit_path
    %td= attachment.content_type
    %td.hidden-xs= attachment.file_size
    %td.visible-lg= attachment.updated_at
    - if actions
      %td.actions
        = attachment.action_buttons