- attachments ||= @attachments
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'attachment_ids[]', '', id: nil

%table.table.table-hover
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th= sort_link_for attachments, :title
      %th= Attachment.human_attribute_name :content_type
      %th.hidden-xs= sort_link_for attachments, :file_size
      %th.visible-lg= sort_link_for attachments, :updated_at
      - if actions
        %th.actions
  %tbody
    - attachments.each do |attachment|
      = render 'attachment', attachment: decorate(attachment, with: Admin::AttachmentDecorator), checkbox: checkboxes, actions: actions