= form_tag :destroy_multiple_admin_attachments, method: :delete do

  = page_header do
    .btn-toolbar
      .btn-group.batch-control
        = button_tag prepend_icon(:trash, translate('helpers.links.destroy_selected'), outline: true), class: 'btn btn-danger', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Image.model_name.human(count: 2)) }
      .btn-group
        = create_button_link_for Attachment, namespace: :admin, icon: :upload, caption: translate('helpers.links.upload', model: Attachment.model_name.human)
      = paginate @attachments

  - if @attachments.any?
    = render 'table', checkboxes: true
  - else
    .well.text-center
      = translate('views.hints.empty', model: Attachment.model_name.human(count: 2))