= view_headline_for @attachment do
  %ul.list-inline
    %li= button_link_to prepend_icon(:download, translate('helpers.links.download')), [:download, :admin, @attachment], type: :success
    - if @attachment.image?
      %li= button_link_to prepend_icon(:hand, translate('helpers.links.move_to', model: Image.model_name.human(count: 2)), direction: :right, outline: true), [:move_to_images, :admin, @attachment], method: :patch, data: { confirm: translate('helpers.confirmations.move', model: Attachment.model_name.human, other_model: Image.model_name.human(count: 2)) }
    %li= action_buttons_for @attachment, except: :show

.col-offset-2.col-lg-4
  %dl.dl-horizontal
    %dt= Attachment.human_attribute_name(:content_type)
    %dd= @attachment.human_content_type
    %dt= Attachment.human_attribute_name(:file_size)
    %dd= number_to_human_size @attachment.file_size
    - if @attachment.author
      %dt= Attachment.human_attribute_name(:author)
      %dd= link_to @attachment.author_name, [:admin, @attachment.author]
    %dt= Attachment.human_attribute_name(:updated_at)
    %dd= time_ago @attachment.updated_at