= view_headline_for @attachment do
  %ul.list-inline
    %li= button_link_to prepend_icon(:download, translate('helpers.links.download')), [:download, :admin, @attachment], size: :large, type: :success
    %li= action_buttons_for @attachment, except: :show

.col-offset-2.col-lg-4
  %dl.dl-horizontal
    %dt= Attachment.human_attribute_name(:content_type)
    %dd= @attachment.human_content_type
    %dt= Attachment.human_attribute_name(:file_size)
    %dd= number_to_human_size @attachment.file_size
