= semantic_form_for @portfolio do |form|

  = render 'errors', object: form.object

  = form.inputs do
    = form.input :owner_name
    = form.input :slug
    = form.input :description

  = form.actions do
    = form.submit