.page-header
  %h1= image.title

= link_to page_path(page, format: image_page.image.format) do
  = image_tag attachment_url(image_page.image, :custom), class: 'img-responsive img-rounded'

%br
= raw image.description

- if image.custom_styles.any?
  %ul
  - image.custom_styles.each do |style|
    %li= link_to style.transformed_dimensions, download_image_path(page.path, format: style.format, style_id: style.id, dimensions: style.transformed_dimensions.to_a.join('x'))