- present page do |page|
  - present image do |image|

    .page-header
      %h1= image.title

    = link_to page_path(page, format: image_page.image.format) do
      = image_tag attached_asset_path(image_page.image, :custom), class: 'img-responsive img-rounded'

    %br

    .row
      .col-sm-8
        - if image.description.present?
          %h4 Description
          = raw image.description

        %h4 Share
        .form-group
          = link_to page.permalink, page.permalink       

      .col-sm-4
        %h4 Buy
        %p
          = link_to 'Contact to buy', buy_image_path(page.path)

        %h4 Downloads
        %ul
          %li= link_to 'Original', download_image_path(page.path, format: image.format)
          - image.styles.each do |style|
            - present style do |style|
              = content_tag_for :li, style do
                = link_to style.title, download_image_path(page.path, format: style.format, style_id: style.position)
                (#{style.width} &times; #{style.height})

     