%h1= gallery

= gallery.description_html

%ul
  - @image_pages.each do |image_page|
    %li
      = link_to image_page do
        = image_tag image_page.embeddable.asset(:thumbnail), alt: image_page.title
        %br
        = image_page.title