!!!
%html
  %head
    %title GT Graphics
    = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'admin', data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .container
        %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-responsive-collapse' }}
          = icon(:reorder)

        = link_to 'GT Graphics', :admin_root, class: 'navbar-brand'

        .nav-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            = active_link_to :admin_images, wrap_tag: :li do
              = Image.model_name.human(count: 2)
              .badge= Image.count
            = active_link_to :admin_albums, wrap_tag: :li do
              = Album.model_name.human(count: 2)
              .badge= Album.count
            = active_link_to :admin_shouts, wrap_tag: :li do
              = Shout.model_name.human(count: 2)
              .badge= Shout.count

    .container
      = render 'breadcrumbs'
      = yield