- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }
  = yield :admin_stylesheets

- content_for :javascripts do
  = javascript_include_tag 'admin', data: { turbolinks_track: true }
  = yield :admin_javascripts

- content_for :title do
  = ([translate('views.admin.title')] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe

- content_for :content do 
  :coffee
    Editor.Control.Image.dialogUrl = '#{admin_editor_image_path}'
    Editor.Control.Link.dialogUrl = '#{admin_editor_link_path}'

  %nav#admin_navigation.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
    .container
      #loader.loader

      .navbar-header
        - if signed_in?
          %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
            = icon(:bars, fixed_width: true)
            %span.sr-only= translate('helpers.links.toggle_navigation')

        = link_to :admin_root, class: 'navbar-brand' do
          %span.sr-only GT Graphics

      - if signed_in?
        .navbar-collapse.collapse
          / Main Menu
          %ul.nav.navbar-nav#nav_primary
            - if content_for?(:admin_navigation)
              %li.dropdown
                = link_to :admin_root, wrap_tag: :li, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                  = icon(:bars)
                  .sr-only Menu
                %ul.dropdown-menu
                  = active_link_to Page.model_name.human(count: 2), :admin_pages, wrap_tag: :li
                  = active_link_to ::Template.model_name.human(count: 2), :admin_templates, wrap_tag: :li
                  = active_link_to Snippet.model_name.human(count: 2), :admin_snippets, wrap_tag: :li
                  = active_link_to Image.model_name.human(count: 2), :admin_images, wrap_tag: :li
                  = active_link_to Attachment.model_name.human(count: 2), :admin_attachments, wrap_tag: :li
                  = active_link_to User.model_name.human(count: 2), :admin_users, wrap_tag: :li
              %li.divider
              = yield(:admin_navigation)
            - else
              %li.dropdown.hidden-xs{class: request.path =~ /pages|templates|snippets/ ? ' active' : nil}
                = link_to :admin_pages, wrap_tag: :li, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                  = Page.model_name.human(count: 2)
                  = caret
                %ul.dropdown-menu
                  = active_link_to translate('views.admin.pages.sitemap'), :admin_pages, wrap_tag: :li
                  %li.divider
                  = active_link_to ::Template.model_name.human(count: 2), :admin_templates, wrap_tag: :li
                  = active_link_to Snippet.model_name.human(count: 2), :admin_snippets, wrap_tag: :li
              = active_link_to Page.model_name.human(count: 2), :admin_pages, wrap_tag: :li, class: 'visible-xs'
              = active_link_to ::Template.model_name.human(count: 2), :admin_templates, wrap_tag: :li, class: 'visible-xs'
              = active_link_to Snippet.model_name.human(count: 2), :admin_snippets, wrap_tag: :li, class: 'visible-xs'
              = active_link_to Image.model_name.human(count: 2), :admin_images, wrap_tag: :li
              = active_link_to Attachment.model_name.human(count: 2), :admin_attachments, wrap_tag: :li
              = active_link_to User.model_name.human(count: 2), :admin_users, wrap_tag: :li

          / User Menu
          = render 'user_menu'

  - if content_for? :admin_body
    = yield :admin_body
  - else
    .container
      #admin_content
        - if content_for? :admin_content
          = yield :admin_content
        - else
          = render_flash(flash.notice, type: :success)
          = render_flash(flash.alert, type: :danger)
          = yield

= render template: 'layouts/application'