- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }
  = yield :admin_stylesheets

- content_for :javascripts do
  :javascript
    var Chartkick = {"language": #{I18n.locale.to_json}};
  = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
  = javascript_include_tag 'admin', data: { turbolinks_track: true }
  = yield :admin_javascripts

- content_for :title do
  = ([translate('views.admin.title')] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe

- content_for :content do
  :coffee
    Editor.defaults.stylesheetFile = '#{asset_path("editor.css")}'
    Editor.Control.Image.dialogUrl = '#{admin_editor_image_path}'
    Editor.Control.Link.dialogUrl = '#{admin_editor_link_path}'

  %nav#admin_navigation.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
    .container
      #loader.loader
        = icon :circle, outline: true, style: :notch, fixed_width: true, spin: true
        .progress-percentage

      .navbar-header
        - if logged_in?
          %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
            = icon(:bars, fixed_width: true)
            %span.sr-only= translate('helpers.links.toggle_navigation')

        = link_to :admin_root, class: 'navbar-brand' do
          %span.sr-only GTGRAPHICS

      - if logged_in?
        .navbar-collapse.collapse
          / Search
          #search_form.navbar-form.navbar-left.only-js
            .form-group
              #search_component.search-component
                = search_field_tag 'search', nil, id: 'search', placeholder: translate('helpers.prompts.search'), accesskey: 'S', class: 'search-input form-control input-rounded', data: { from: { pages: autocomplete_admin_pages_path(format: :json), images: autocomplete_admin_images_path(format: :json), projects: autocomplete_admin_projects_path(format: :json) } }
                .search-indicator
                  = prepend_icon :search, translate('helpers.links.search'), caption_html: { class: 'sr-only' }

          / Main Menu
          %ul.nav.navbar-nav#nav_primary
            %li.dropdown{class: request.path =~ /pages|templates/ && 'active'}
              = link_to :admin_pages, wrap_tag: :li, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = Page.model_name.human(count: 2)
                = caret
              %ul.dropdown-menu
                = active_link_to Page.model_name.human(count: 2), :admin_pages, wrap_tag: :li, accesskey: 'P'
                = active_link_to ::Template.model_name.human(count: 2), :admin_templates, wrap_tag: :li, accesskey: 'T'

            = active_link_to Image.model_name.human(count: 2), :admin_images, wrap_tag: :li, accesskey: 'I'
            = active_link_to Project.model_name.human(count: 2), :admin_projects, wrap_tag: :li, accesskey: 'R'
            = active_link_to Attachment.model_name.human(count: 2), :admin_attachments, wrap_tag: :li, accesskey: 'A'
            = active_link_to Provider.model_name.human(count: 2), :admin_providers, wrap_tag: :li

            %li.dropdown{class: request.path.include?('stats') && 'active'}
              = link_to '#', wrap_tag: :li, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = translate('views.admin.nav.stats')
                = caret
              %ul.dropdown-menu
                = active_link_to translate('views.admin.nav.stats/traffic'), :admin_stats_traffic, wrap_tag: :li, active: request.path.include?('stats/traffic')

            = active_link_to User.model_name.human(count: 2), :admin_users, wrap_tag: :li, accesskey: 'U'

          %ul.nav.navbar-nav.navbar-right#nav_secondary
            / Language Menu
            %li.dropdown
              = link_to '#', id: 'nav_language', class: 'dropdown-toggle', accesskey: 'L', data: { toggle: 'dropdown' } do
                %span.icon= flag_icon Globalize.locale, size: 24
                %span.caption.sr-only= translate(Globalize.locale, scope: :languages)
                = caret
              %ul.dropdown-menu
                - available_locales.each do |locale|
                  = active_link_to url_for(translations: locale != I18n.locale ? locale : nil), wrap_tag: :li, active: locale == Globalize.locale, hreflang: locale do
                    = prepend_flag_icon locale, translate(locale, scope: :languages), size: 16, fixed_width: true

            / User Menu
            %li.dropdown{class: request.path =~ /account|messages/ && 'active'}
              = active_link_to :admin_account, id: 'nav_account', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                %span.avatar
                  %span.icon
                    - if current_user.photo.present?
                      = image_tag attached_asset_path(current_user, :thumbnail, from: :photo), alt: current_user.name, width: 24, height: 24, class: 'img-circle'
                    - else
                      = image_tag 'admin/anonymous.png', alt: current_user.name, width: 24, height: 24, class: 'img-circle'
                  %span.caption.sr-only= current_user.name
                = caret
                - unless current_user.message_recipiences.unread.size.zero?
                  .badge= current_user.message_recipiences.unread.size
              %ul.dropdown-menu
                = active_link_to :admin_messages, id: 'nav_messages', wrap_tag: :li do
                  = prepend_icon :envelope, Message.model_name.human(count: 2), fixed_width: true
                %li.divider
                = active_link_to :edit_admin_account, wrap_tag: :li do
                  = prepend_icon :wrench, translate('views.admin.account.settings'), fixed_width: true
                %li
                  = link_to :admin_logout, id: 'nav_sign_out', method: :delete, data: { confirm: translate('helpers.confirmations.sign_out') } do
                    = prepend_icon :sign_out, translate('helpers.links.sign_out'), fixed_width: true

  - if content_for? :navigation_toolbar
    %nav#admin_navigation_toolbar.navbar.navbar-toolbar.navbar-fixed-top{role: 'navigation'}
      .container
        #nav_toolbar
          = yield :navigation_toolbar

  - if content_for? :admin_body
    = yield :admin_body
  - else
    .container
      #admin_content{role: 'main'}
        - if content_for? :admin_content
          = yield :admin_content
        - else
          = render_flashes
          = render 'admin/application/breadcrumbs'
          = yield

= render template: 'layouts/application'
