!!!
%html{lang: I18n.locale}
  %head
    %title
      = (["GT Graphics Administration"] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe
    = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }
    = yield :stylesheets
    = i18n_javascript
    = javascript_include_tag 'admin', data: { turbolinks_track: true }
    = yield :javascripts
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-responsive-collapse' }}
          = icon(:reorder)

        = link_to :admin_root, class: 'navbar-brand' do
          GT Graphics

        %nav.navbar-responsive-collapse{role: 'navigation'}
          %ul.nav.navbar-nav

            = active_link_to :admin_pages, wrap_tag: :li do
              = Page.model_name.human(count: 2)
              .badge= Page.count

            = active_link_to :admin_templates, wrap_tag: :li do
              = ::Template.model_name.human(count: 2)
              .badge= ::Template.count

            = active_link_to :admin_galleries, wrap_tag: :li do
              = Gallery.model_name.human(count: 2)
              .badge= Gallery.count

            = active_link_to :admin_images, wrap_tag: :li do
              = Image.model_name.human(count: 2)
              .badge= Image.count

            = active_link_to :admin_shouts, wrap_tag: :li do
              = Shout.model_name.human(count: 2)
              .badge= Shout.count

          %ul.list-inline.navbar-text.pull-right
            %li= link_to prepend_icon(:user, 'Tobias Casper'), '#', class: 'navbar-link'
            %li= link_to prepend_icon(:signout, 'Sign out'), :root, class: 'navbar-link'
        
    .container
      = render 'breadcrumbs'
      #page_content= yield

      - if false && Rails.env.development?
        #debug.well.well-condensed
          %strong Session:
          = session.to_json
          %br
          %strong Cookies:
          = cookies.to_json