- content_for :admin_content do
  = render_flashes
  = render 'breadcrumbs'

  #image_content
    - if content_for? :image_content
      = yield :image_content
    - else
      = yield

= render template: 'layouts/admin/application'