.modal.fade{id: yield(:id) || 'modal', role: :dialog}
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag icon(:remove), type: :button, class: 'close', data: { dismiss: :modal }
        %h4.modal-title
          = yield :title
      .modal-body
        = yield :body
      .modal-footer
        = yield :footer
        = button_tag translate('helpers.links.close'), type: :button, class: 'close', data: { dismiss: :modal }