- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }
  = stylesheet_link_tag 'page_editor', media: 'all', data: { turbolinks_track: true }

- content_for :javascripts do
  = javascript_include_tag 'admin', data: { turbolinks_track: true }
  = javascript_include_tag 'page_editor', data: { turbolinks_track: true }

= render template: 'layouts/application'