- content_for :admin_content do
  .row
    .col-sm-offset-0.col-sm-12
      = render_flashes
      = render 'breadcrumbs'

  .row
    - if content_for? :page_editor_title
      = yield :page_editor_title
    - else
      .col-sm-offset-1.col-sm-8
        .page-header
          %h1= @page.title

  .row
    - if content_for? :page_editor_content
      = yield :page_editor_content
    - else
      .col-sm-8.col-sm-offset-1
        = yield
      .col-sm-1

    .col-sm-2
      .tabs-right
        %ul.nav.nav-tabs
          %li.divider
          = active_link_to [:edit, :admin, @page], wrap_tag: :li, active: controller_name == 'pages' do
            = prepend_icon :wrench, 'Allgemein', fixed_width: true, size: :lg
          - if @page.support_templates?
            %li{class: [controller_name == 'regions' ? 'active' : nil, @page.template.region_definitions.empty? ? 'disabled' : nil]}
              = link_to [:admin, @page, :regions] do
                = prepend_icon :edit, 'Inhalte', fixed_width: true, size: :lg
          = try_render("admin/#{@page.embeddable_type.underscore.pluralize}/editor_menu_items")
          %li
            = link_to page_path(@page, locale: Globalize.locale, translations: nil) do
              = prepend_icon :file_picture, translate('helpers.links.view'), fixed_width: true, size: :lg, outline: true
          %li.divider

= render template: 'layouts/admin/application'