/- @hide_breadcrumbs = true

- content_for :admin_content do

  - if action_name.in? %w(new create edit update)
    - if content_for? :page_content
      = yield :page_content
    - else
      = yield

  - else
    .row
      .col-lg-3.col-md-3
        #sitemap{data: { url: tree_admin_pages_path(format: :json) }}

      .col-lg-9.col-md-9
        #page_content
          - if content_for? :page_content
            = yield :page_content
          - else
            = yield

= render template: 'layouts/admin/application'