- content_for :admin_content do

  - if action_name.in? %w(new create edit update)
    = render_flashes
    = render 'breadcrumbs'

    - if content_for? :page_content
      = yield :page_content
    - else
      = yield
  
  - else
    .row
      .col-sm-4
        #sitemap_container
          #sitemap.slimscroll{data: { url: tree_admin_pages_path(format: :json), pages: @page_tree.to_json, selected_page_id: @page.id}}

      .col-sm-8
        = render_flashes
        = render 'breadcrumbs'

        #page_content
          - if content_for? :page_content
            = yield :page_content
          - else
            = yield

= render template: 'layouts/admin/application'