- content_for :admin_content do

  - if action_name.in? %w(new create edit update)
    - if content_for? :page_content
      = yield :page_content
    - else
      = yield
  
  - else

    = toolbar do
      .btn-group.batch-control
        = button_tag prepend_icon(:trash, translate('helpers.links.destroy_selected'), outline: true), class: 'btn btn-danger', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Image.model_name.human(count: 2)) }        
      .btn-group
        = create_button_link_for Page, caption: translate('helpers.links.new', model: Page.model_name.human), url: [:new, :admin, @page, :child]
        
    .row
      .col-lg-4.col-md-4
        #sitemap{data: { url: tree_admin_pages_path(format: :json) }}
        /.tree
        /  = present Page.with_translations(I18n.locale), PageListPresenter, list_class: 'dd-list', item_class: 'dd-item', title_class: 'dd-handle'

      .col-lg-8.col-md-4
        #page_content
          - if content_for? :page_content
            = yield :page_content
          - else
            = yield

= render template: 'layouts/admin/application'