- message_recipiences ||= @message_recipiences
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'message_ids[]', '', id: nil

%table.table.table-hover
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'js-only table-checkbox-all'}
      %th= sort_link_for message_recipiences, :subject
      %th.text-center.visible-lg.visible.md= sort_link_for message_recipiences, :read
      %th= sort_link_for message_recipiences, :sender_name
      %th= sort_link_for message_recipiences, :created_at
      - if actions
        %th.actions
  %tbody
    - message_recipiences.each do |recipience|
      = render 'message_recipience', recipience: recipience, checkboxes: checkboxes, actions: actions

= paginate message_recipiences