- messages ||= @messages
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'message_ids[]', '', id: nil

%table.table.table-striped
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th= sort_link_for messages, :subject
      %th.text-center.visible-lg.visible.md= sort_link_for messages, :read
      %th= sort_link_for messages, :sender_name
      %th= sort_link_for messages, :created_at
      - if actions
        %th.actions
  %tbody
    - messages.each do |message|
      = content_tag_for :tr, message do
        - if checkboxes
          %td.checkbox-cell
            = check_box_tag 'message_ids[]', message.id, false, class: 'table-checkbox', id: nil
        %td
          = content_tag message.unread? ? :strong : :span do
            = link_to message.subject.presence || translate('helpers.prompts.no_subject'), [:admin, message]
        %td.text-center.visible-lg.visible.md
          - if message.read? 
            = link_to icon(:circle, outline: true), [:toggle, :admin, message], method: :patch, class: 'message-read', title: translate('views.admin.messages.mark_unread'), data: { toggle: 'tooltip' }
          - else
            = link_to icon(:circle, outline: false), [:toggle, :admin, message], method: :patch, class: 'message-unread', title: translate('views.admin.messages.mark_read'), data: { toggle: 'tooltip' }
        %td= mail_to message.sender_email, message.sender_name
        %td= time_ago message.created_at
        - if actions
          %td.actions
            = action_buttons_for message, size: :mini, icon_only: true, only: [:show, :destroy]
