= form_tag :destroy_multiple_admin_messages, method: :delete do

  = page_header do
    .btn-group.batch-control
      = button_tag class: 'btn btn-danger batch-control', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Message.model_name.human(count: 2)) } do
        = prepend_icon :trash, translate('helpers.links.destroy_selected'), outline: true

  - if @message_recipiences.any?

    = hidden_field_tag 'message_ids[]', '', id: nil

    %table.table.table-hover
      %thead
        %tr
          %th.checkbox-cell
            %input{type: 'checkbox', class: 'js-only table-checkbox-all', data: { toggle: 'tableCheckboxes' }}
          %th= sort_link @message_recipience_search, :subject
          %th.text-center.visible-lg.visible.md= sort_link @message_recipience_search, :read
          %th= sort_link @message_recipience_search, :sender_name
          %th= sort_link @message_recipience_search, :created_at
          %th.actions
      %tbody
        - @message_recipiences.each do |recipience|
          = render 'message_recipience', recipience: recipience

    = paginate @message_recipiences

  - else
    .well.text-center
      = translate('views.hints.empty', model: Message.model_name.human(count: 2))