- present @message, with: Admin::MessagePresenter do |message|

  = page_header do
    .btn-toolbar
      .btn-group
        = button_mail_to @message.sender, prepend_icon(:mail_reply, translate('helpers.links.reply')), subject: translate('views.admin.messages.replied_subject', subject: @message.subject)
      .btn-group
        = message.destroy_button

  .row

    .col-sm-offset-2.col-sm-8
      %dl.dl-horizontal
        .row
          .col-sm-2
            = mail_to @message.sender do
              = gravatar_image_tag message.sender_email, alt: message.sender_name, size: 200, default: :mm, class: 'img-circle img-responsive'
          .col-sm-10
            = message.list_item :sender
            = message.list_item :recipients
            = message.list_item :subject
            = message.list_item :created_at
            = message.list_item :contact_form

      %hr

      = simple_format message.body