.translations
  = fields.simple_fields_for :translations do |translation_fields|
    = render 'admin/pages/projects/translation_fields', fields: translation_fields

= fields.input :client_name, container_html: { class: 'col-lg-6' }, label_html: { class: 'col-lg-2' }
= fields.input :client_url, container_html: { class: 'col-lg-10' }, label_html: { class: 'col-lg-2' }
= fields.input :released_on, discard_day: true, discard_month: true, start_year: 2000, end_year: Date.today.year, include_blank: true, container_html: { class: 'col-lg-3' }, label_html: { class: 'col-lg-2' }