= fields.association :template

%hr

.translations
  = fields.simple_fields_for :translations do |translation_fields|
    = render 'admin/pages/projects/translation_fields', fields: translation_fields

= fields.input :client_name
= fields.input :client_url
= fields.input :released_on, discard_day: true, discard_month: true, start_year: 2000, end_year: Date.today.year, include_blank: true