= translation_pane_for fields.object.locale do
  = fields.input :_destroy, as: :hidden, input_html: { class: 'destroy-translation' }
  = fields.input :locale, as: :hidden
  = fields.input :name
  = fields.input :description, input_html: { rows: 3, data: { behavior: 'editor' } }