%fieldset
  %legend= Page::Project.model_name.human
  .fields
    = fields.input :name
    = fields.input :description, input_html: { class: 'editor', rows: 10 }
    = fields.input :released_on, start_year: 2005

%fieldset
  %legend= Page::Project.model_name.human
  .fields
    = fields.input :client_name
    = fields.input :client_url
