- present @page.embeddable do |image_page|
  - present @image do |image|

    = link_to :root, id: 'lightbox_brand' do
      = image_tag 'lightbox_logo.png', id: 'logo', alt: 'GT Graphics'
      %span.sr-only GT Graphics

    %nav.navbar.navbar-lightbox.navbar-fixed-top#navbar_lightbox{role: 'navigation'}
      .container-fluid.visible-md.visible-lg
        %ul.nav.navbar-nav.navbar-right
          %li.enlarge-image
            = link_to '#top', data: { scroll: true } do
              = prepend_icon :search_plus, translate('helpers.links.enlarge_image'), fixed_width: true
          %li.info
            = link_to '#info' do
              = prepend_icon :info, translate('helpers.links.details'), fixed_width: true, style: :circle
          %li.comment
            = link_to '#comments', data: { scroll: true } do
              = prepend_icon :comment, translate('helpers.links.comment'), fixed_width: true

          - if image.styles.any?
            %li.dropdown
              = dropdown prepend_icon(:download, translate('helpers.links.download'), fixed_width: true) do
                - image.styles.each do |style|
                  %li
                    = link_to download_image_path(style_id: style.position), data: { no_turbolink: true } do
                      = style.title

          %li.dropdown
            - if image.shop_urls.any?
              = dropdown prepend_icon(:dollar, translate('helpers.links.buy'), fixed_width: true), href: image.shop_url('gtgraphics'), menu_html: { class: 'shop-providers' } do
                = image.shop_links
            - else
              = link_to prepend_icon(:dollar, translate('helpers.links.buy'), fixed_width: true), image.shop_url('gtgraphics')

          - if next_locale
            / Locale
            %li#nav_locale
              = link_to change_locale_path(next_locale), hreflang: next_locale do
                = prepend_icon :globe, next_locale.to_s.upcase, fixed_width: true

      - if @gallery_page
        = link_to @gallery_page, id: 'lightbox_close', class: 'lightbox-control', role: 'button' do
          = close
          %span.sr-only= translate('helpers.links.close')

    #lightbox
      .lightbox-image-container
        .lightbox-background{style: background_css(attached_asset_path(@image, :public))}
        %figure.lightbox-image{style: background_css(attached_asset_path(@image, :public))}
          = image_tag attached_asset_path(@image, :public), width: @image.width, height: @image.height, alt: @image.title, class: 'sr-only'
          %figcaption.hidden
            = image.description

      .lightbox-controls
        - if @previous_page
          = link_to @previous_page, class: 'lightbox-control left', role: 'button', data: { hotkey: 'left' } do
            = icon :chevron, direction: :left
            %span.sr-only= translate('helpers.links.previous')

        - if @next_page
          = link_to @next_page, class: 'lightbox-control right', role: 'button', data: { hotkey: 'right' } do
            = icon :chevron, direction: :right
            %span.sr-only= translate('helpers.links.next')

    .container.js-only
      #content_wrapper
        #lightbox_page_wrapper
          #lightbox_page_content
            #info
              %a{name: 'info'}

              .page-header.lightbox-title
                %h1= image.title

              .page-body
                .row
                  .col-md-1.hidden-xs.hidden-sm.lightbox-author-avatar
                    = link_to about_author_path(image.author) do
                      = image.author.gravatar

                  - if image.description.present?
                    .col-md-5.col-xs-12.lightbox-caption
                      = image.description
                      .lightbox-author-name
                        = link_to image.author, about_author_path(image.author)

                  .col-md-6.col-xs-12.lightbox-metadata
                    %dl.dl-horizontal
                      %dt Aufnahme
                      %dd= image.taken_at
                      - if image.camera.present?
                        %dt Kamera
                        %dd= image.camera
                      - if image.software.present?
                        %dt Software
                        %dd= image.software

            .page-body.well.lightbox-comments#comments
              %a{name: 'comments'}
              = image_page.facebook_comments colorscheme: :dark
