#lightbox

  %nav.navbar.navbar-top#navbar_lightbox{role: 'navigation'}
    %ul.nav.navbar-nav#nav_menu_items
      %li
        = link_to @gallery_page, data: { hotkey: 'esc' } do
          &times;

  .lightbox-image-container
    .lightbox-image{style: background_css(attached_asset_path(@image, :custom))}
      = image_tag attached_asset_path(@image, :custom), width: @image.width, height: @image.height, alt: @image.title, class: 'sr-only'

    / .lightbox-watermark
    /   .sr-only GT Graphics

  .lightbox-controls
    - if @previous_page
      = link_to @previous_page, class: 'carousel-control left', role: 'button', data: { hotkey: 'left' } do
        = icon :chevron, direction: :left

    - if @next_page
      = link_to @next_page, class: 'carousel-control right', role: 'button', data: { hotkey: 'right' } do
        = icon :chevron, direction: :right
