- present @page.embeddable do |image_page|
  - present @image do |image|

    %nav.navbar.navbar-lightbox.navbar-fixed-top#navbar_lightbox{role: 'navigation'}
      .container-fluid
        .navbar-header
          = link_to :root, class: 'navbar-brand' do
            = image_tag 'lightbox_logo.png', id: 'logo', alt: 'GT Graphics'
            %span.sr-only GT Graphics
        %ul.nav.navbar-nav.navbar-right
          / - if @image_styles.any?
          /   / Download
          /   %li.downloads
          /     = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
          /       = prepend_icon :download, 'Download', fixed_width: true
          /       = caret
          /     %ul.dropdown-menu.dropdown-menu-right
          /       - @image_styles.each do |image_style|
          /         - present image_style do |image_style|
          /           %li
          /             = link_to download_image_path(@page.path, style_id: image_style.position), data: { no_turbolink: true } do
          /               = image_style.title

          / / Buy
          / %li.buy
          /   = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
          /     = prepend_icon :dollar, 'Erwerben', fixed_width: true
          /     = caret
          /   %ul.dropdown-menu.dropdown-menu-right.shop-providers
          /     = image.shop_links

          - if next_locale
            / Locale
            %li#nav_locale
              = link_to change_locale_path(next_locale), hreflang: next_locale do
                = prepend_icon :globe, next_locale.to_s.upcase, fixed_width: true

          - if @gallery_page
            %li
              = link_to @gallery_page do
                = icon :times, size: :lg, fixed_width: true

    #lightbox

      .lightbox-image-container
        .lightbox-background{style: background_css(attached_asset_path(@image, :public))}
        %figure.lightbox-image{style: background_css(attached_asset_path(@image, :public))}
          = image_tag attached_asset_path(@image, :public), width: @image.width, height: @image.height, alt: @image.title, class: 'sr-only'
          %figcaption.hidden
            = image.description

      .lightbox-controls
        - if @previous_page
          = link_to @previous_page, class: 'carousel-control left', role: 'button', data: { hotkey: 'left' } do
            = icon :chevron, direction: :left

        - if @next_page
          = link_to @next_page, class: 'carousel-control right', role: 'button', data: { hotkey: 'right' } do
            = icon :chevron, direction: :right

    .container.js-only
      #content_wrapper
        #lightbox_page_wrapper
          #lightbox_page_content
            .page-header.lightbox-title.clearfix
              %h1.pull-left= image.title
              = user_info image.author, class: 'pull-right' if image.author

            / .btn-toolbar.pull-right
            /   .btn-group
            /     = button_link_to user_info(image.author), '#', type: :header

            /   .btn-group
            /     = button_link_to '#', type: :header_icon, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            /       = prepend_icon :download, 'Download', fixed_width: true, caption_html: { class: 'sr-only' }
            /     %ul.dropdown-menu.dropdown-menu-right
            /       - @image_styles.each do |image_style|
            /         - present image_style do |image_style|
            /           %li
            /             = link_to download_image_path(@page.path, style_id: image_style.position), data: { no_turbolink: true } do
            /               = image_style.title

            /   .btn-group
            /     = button_link_to '#', type: :header_icon, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            /       = prepend_icon :dollar, 'Erwerben', fixed_width: true, caption_html: { class: 'sr-only' }
            /     %ul.dropdown-menu.dropdown-menu-right.shop-providers
            /       = image.shop_links

            .page-body
              .row
                - if image.description.present?
                  .col-sm-6.lightbox-caption
                    = image.description
                .col-sm-6.lightbox-metadata
                  %dl.dl-horizontal
                    %dt Aufnahme
                    %dd= image.taken_at
                    - if image.camera.present?
                      %dt Kamera
                      %dd= image.camera
                    - if image.software.present?
                      %dt Software
                      %dd= image.software

            .page-body.well.lightbox-comments
              = image_page.facebook_comments colorscheme: :dark
