- content_for :back_url, page_path(@gallery_page) if @gallery_page

#nav_lightbox_xs.container.visible-xs
  = link_to :root, id: 'brand' do
    = image_tag 'logo.png', id: 'logo', alt: 'GT Graphics'
    .sr-only GT Graphics
  = render 'navbar'

- present @page do |page|
  - present @page.embeddable do |image_page|
    - present @image do |image|
      %nav.navbar.navbar-lightbox#navbar_lightbox.hidden-xs{role: 'navigation'}
        .container-fluid
          = link_to :root, id: 'lightbox_brand', class: 'navbar-brand hidden-xs' do
            = image_tag 'lightbox_logo.png', id: 'logo', alt: 'GT Graphics'
            %span.sr-only GT Graphics

          #nav_lightbox_controls
            - if @gallery_page
              %ul#nav_close.nav.navbar-nav.navbar-right
                %li
                  = link_to @gallery_page, id: 'lightbox_close' do
                    = close
                    %span.sr-only= translate('helpers.links.close')

            %ul#nav_lightbox_actions.nav.navbar-nav.navbar-right
              %li.enlarge-image.hidden-sm.js-only
                = link_to '#top', title: translate('helpers.links.enlarge_image'), data: { scroll: true, toggle: 'tooltip', placement: 'bottom' } do
                  = icon :search_plus, size: :lg, fixed_width: true
                  %span.sr-only= translate('helpers.links.enlarge_image')

              %li.info.hidden-sm.js-only
                = link_to '#info', title: translate('helpers.links.details'), data: { toggle: 'tooltip', placement: 'bottom' } do
                  = icon :info, size: :lg, fixed_width: true, style: :circle
                  %span.sr-only= translate('helpers.links.details')

              %li.comment.hidden-sm.js-only
                = link_to '#comments', title: translate('helpers.links.comment'), data: { scroll: true, toggle: 'tooltip', placement: 'bottom' } do
                  = icon :comment, size: :lg, fixed_width: true
                  %span.sr-only= translate('helpers.links.comment')

              - if image.styles.any?
                %li.dropdown.hidden-sm.js-only
                  = link_to '#', id: 'image_download_dropdown', title: translate('helpers.links.download'), class: 'dropdown-toggle', :'aria-haspopup' => 'true', data: { toggle: 'dropdown' } do
                    = icon :download, size: :lg, fixed_width: true
                    = caret
                    %span.sr-only= translate('helpers.links.download')
                  %ul.dropdown-menu{role: 'menu', :'aria-labelledby' => 'image_download_dropdown'}
                    - image.styles.each do |style|
                      %li
                        = link_to download_image_path(style_id: style.position), data: { no_turbolink: true } do
                          = style.title

              %li.dropdown.hidden-sm
                - if image.shop_urls.each_value.any?(&:present?)
                  = link_to image.shop_url('gtgraphics'), title: translate('helpers.links.buy'), id: 'image_buy_dropdown', class: 'dropdown-toggle', :'aria-haspopup' => 'true', data: { toggle: 'dropdown' } do
                    = icon :shopping_cart, size: :lg, fixed_width: true
                    = caret
                    %span.sr-only= translate('helpers.links.buy')
                  %ul.dropdown-menu.shop-providers{role: 'menu', :'aria-labelledby' => 'image_buy_dropdown'}
                    = image.shop_links
                - else
                  = link_to image.shop_url('gtgraphics'), title: translate('helpers.links.buy'), data: { toggle: 'tooltip', placement: 'bottom' } do
                    = icon :shopping_cart, size: :lg, fixed_width: true
                    %span.sr-only= translate('helpers.links.buy')

      #lightbox
        .lightbox-image-container
          .lightbox-background.hidden-xs.hidden-sm{style: background_css(attached_asset_path(@image, :public))}
          %figure.lightbox-image{style: background_css(attached_asset_path(@image, :public))}
            = image_tag attached_asset_path(@image, :public), width: @image.width, height: @image.height, alt: @image.title
            %figcaption.sr-only
              = image.description

        .lightbox-controls
          - if @previous_page
            = link_to @previous_page, class: 'lightbox-control left', role: 'button', data: { hotkey: 'left' } do
              = icon :chevron, direction: :left
              %span.sr-only= translate('helpers.links.previous')

          - if @next_page
            = link_to @next_page, class: 'lightbox-control right', role: 'button', data: { hotkey: 'right' } do
              = icon :chevron, direction: :right
              %span.sr-only= translate('helpers.links.next')

      #lightbox_content_container.container
        #lightbox_content_wrapper
          #lightbox_page_wrapper
            #lightbox_page_content
              #info
                %a{name: 'info'}

                .page-header.lightbox-title.clearfix
                  %h1= image.title

                  #social_buttons.btn-toolbar.js-only
                    .btn-group= page.facebook_like_button
                    .btn-group= page.google_plus_like_button
                    .btn-group= page.twitter_share_button

                .page-body
                  .row
                    .lightbox-author-avatar.hidden-xs.hidden-sm.col-md-1
                      = image.author.thumbnail(true, class: 'img-circle img-responsive')

                    .lightbox-caption.col-xs-12.col-md-11
                      = image.description
                      .lightbox-author-name
                        = image.author.name(true)

                    / .col-xs-12.col-md-6.lightbox-metadata
                    /   %h3.visible-xs.visible-sm
                    /     = prepend_icon :info, translate('helpers.links.details'), fixed_width: true
                    /   = image.attribute_list :taken_at, :camera, :software, :iso_value

                .page-body.visible-xs.visible-sm
                  .row
                    - if image.shop_links.present?
                      / Buy
                      .col-xs-12.col-sm-6
                        %h3= prepend_icon :shopping_cart, translate('helpers.links.buy'), fixed_width: true
                        %ul.shop-providers
                          = image.shop_links

                    - if image.styles.any?
                      / Download
                      .col-xs-12.col-sm-6
                        %h3= prepend_icon :download, translate('helpers.links.download'), fixed_width: true
                        %ul.image-styles
                          - image.styles.each do |style|
                            %li= link_to style.title, download_image_path(style_id: style.position), data: { no_turbolink: true }

              / Comments
              .page-body.well.lightbox-comments.js-only#comments
                %a{name: 'comments'}
                = page.facebook_comments
