#lightbox_container.carousel.slide{data: { ride: 'carousel', pause: 'true' }}

  %nav.navbar.navbar-top#navbar_lightbox{role: 'navigation'}
    %ul.nav.navbar-nav#nav_menu_items
      %li
        = link_to page.parent do
          &times;

  #lightbox_image{style: background_css(attached_asset_path(@image, :custom))}
    = image_tag attached_asset_path(@image, :custom), alt: @image.title, class: 'sr-only'

  #lightbox_watermark

  #lightbox_controls
    - if @previous_page
      = link_to @previous_page, class: 'carousel-control left', role: 'button' do
        = icon :chevron, direction: :left
        /.glyphicon.glyphicon-chevron-left

    - if @next_page
      = link_to @next_page, class: 'carousel-control right', role: 'button' do
        = icon :chevron, direction: :right
        /.glyphicon.glyphicon-chevron-right