- translation_class = "#{object.class.name}::Translation".constantize

%ul.nav.nav-tabs.only-js#translations_tabs{data: { url: url }}
  - available_locales.each do |locale|
    %li.translation-tab{class: locale == I18n.locale ? 'active' : 'only-js', data: { locale: locale }}
      = link_to "##{locale}" do
        = flag_icon(locale)
        = translate(locale, scope: :languages)
        = button_tag icon(:times), name: nil, type: 'button', class: 'btn btn-mini btn-danger remove-translation only-js', data: { toggle: 'tooltip', placement: 'top' }, title: translate('helpers.links.remove', model: translation_class.model_name.human), tabindex: '-1'

  %li.dropdown.add-translation-select.pull-right
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
      = prepend_icon(:plus, translate('helpers.links.add', model: translation_class.model_name.human))
      %b.caret
    %ul.dropdown-menu
      - available_locales.each do |locale|
        %li{data: { locale: locale }}
          = link_to "#", class: 'add-translation', data: { locale: locale } do
            = flag_icon(locale)
            = translate(locale, scope: :languages)