.hidden-xs
  = yield_region :header_image

- if region_content_for? :main
  .page-body
    .row
      .col-md-offset-1.col-md-10.text-lg
        = yield_region :main

- if @network_links.present?
  %hr
  .page-body.social-icon-links
    .row
      .col-sm-10.col-sm-offset-1
        .row.text-center
          - @network_links.each do |network_link|
            .col-xs-4.col-sm-2
              = social_link_icon(network_link)

- if @contact_form
  %hr
  - if region_content_for? :contact_form_header
    .page-body
      .row
        .col-sm-offset-1.col-sm-10.text-lg
          = yield_region :contact_form_header
  .page-body
    .row
      .col-sm-offset-1.col-sm-10
        = render 'contact_form', page: @contact_form
