.hidden-xs
  = yield_region :header_image

- if region_content_for? :main
  .page-body
    .row
      .col-md-offset-1.col-md-10.text-lg
        = yield_region :main

- if @user
  %hr
  .page-body.social-icon-links
    .row
      - case @user.name
      - when 'Tobias Roetsch'
        .col-sm-10.col-sm-offset-1
          .row
            .col-xs-4.col-sm-2
              = shop_icon_link :fineartprint, 'http://www.taenaron.fineartprint.de'
            .col-xs-4.col-sm-2
              = shop_icon_link :posterlounge, 'http://www.posterlounge.de/kuenstler/roetsch'
            .col-xs-4.col-sm-2
              = shop_icon_link :deviantart, 'http://taenaron.deviantart.com/prints'
            .col-xs-4.col-sm-2
              = shop_icon_link :artflakes, 'http://www.artflakes.com/de/shop/taenaron'
            .col-xs-4.col-sm-2
              = shop_icon_link :fineartamerica, 'http://fineartamerica.com/profiles/tobias-roetsch.html'
            .col-xs-4.col-sm-2
              = shop_icon_link :society6, 'http://society6.com/taenaron'

      - when 'Jeff Michelmann'
        .col-sm-10.col-sm-offset-1
          .row
            .col-xs-4.col-sm-2.col-sm-offset-3
              = shop_icon_link :fineartprint, 'http://jmichelmann.fineartprint.de'
            .col-xs-4.col-sm-2
              = shop_icon_link :deviantart, 'http://gucken.deviantart.com/prints'
            .col-xs-4.col-sm-2
              = shop_icon_link :theuntappedsource, 'http://www.theuntappedsource.com/gucken'

- if @contact_form
  %hr
  - if region_content_for? :contact_form_header
    .page-body
      .row
        .col-sm-offset-1.col-sm-10.text-lg
          = yield_region :contact_form_header
  .page-body
    .row
      .col-sm-offset-1.col-sm-10
        = render 'contact_form', page: @contact_form
