%h1.sr-only= page.title

- if region_content_for? :header
  .page-body
    = yield_region :header

.page-body
  .row
    - @about_pages.each do |user, page|
      .col-sm-6
        .submenu-item
          = link_to page, class: 'submenu-link' do
            .submenu-item-title
              = page.title
            - if user.photo.present?
              = image_tag attached_asset_path(user, :menu_brick, from: :photo), class: 'submenu-item-image', alt: page.title

- if region_content_for? :footer
  .page-body
    .row
      .col-sm-offset-1.col-sm-10.text-lg
        = yield_region :footer
