- content_for :social_meta_tags do
  %meta{property: 'og:title', content: @page.title}
  %meta{property: 'og:description', content: @page.meta_description || ''}
  - @image_pages.take(5).each do |page|
    %meta{property: 'og:image', content: image_asset_url(page.image, :social)}
    %meta{property: 'og:image:type', content: page.image.content_type}
    %meta{property: 'og:image:width', content: 1500}
    %meta{property: 'og:image:height', content: 1500}

= render 'breadcrumbs'

%h1.sr-only= page.title

- if @image_pages.any?
  #gallery.clearfix{data: { total_pages: @image_pages.total_pages }}
    - @image_pages.each do |page|
      - cache [I18n.locale, page, page.embeddable, page.embeddable.image, :brick] do
        - present page.embeddable do |image_page|
          .gallery-item
            = link_to page, class: 'gallery-link' do
              %figure.gallery-image-container
                .gallery-image-wrapper
                  = image_tag attached_asset_path(image_page.image, :brick), class: 'gallery-image img-responsive', alt: page.title, width: image_page.image.width, height: image_page.image.height
                %figcaption.gallery-image-caption-wrapper
                  .gallery-image-caption-container
                    .gallery-image-caption
                      %h3.gallery-image-title= page.title

  .btn-toolbar-page-foot.clearfix
    = button_link_to '#top', type: :page_foot, size: :lg, id: 'back_to_top', class: 'pull-right', title: translate('helpers.links.back_to_top'), data: { scroll: true, toggle: 'tooltip', container: 'body', placement: 'top' } do
      = icon :angle, direction: :up
    = paginate @image_pages, theme: :gallery

- else
  .page-body
    .text-center
      = translate('hints.empty', model: Image.model_name.human(count: 2))
