.page-header
  %h1
    = page.title

- if region_content_for? :main
  = yield_region :main
  %br

.page-body
  #gallery.transitions-enabled.infinite-scroll.clearfix
    - @image_pages.each do |image_page|
      .brick.col-sm-4
        = link_to image_page do
          = image_tag attached_asset_path(image_page.embeddable.image, :brick), class: 'img-responsive', alt: image_page.title

  = paginate @image_pages

.page-footer
  - if region_content_for? :footer
    = yield_region :footer