.page-header
  %h1
    = page.title

- if region_content_for? :main
  = yield_region :main
  %br

- if @image_pages.any?
  - @image_pages.each_slice(4) do |image_pages|
    .row
      - image_pages.each do |image_page|
        .col-sm-3
          = link_to image_page, class: 'thumbnail' do
            = image_tag attached_asset_path(image_page.embeddable.image, :thumbnail), class: 'img-responsive', title: image_page.title
            .caption
              %h3= image_page.title

- else
  .well.text-center
    %h4
      = translate 'views.hints.not_found', model: Image.model_name.human(count: 2)

- if region_content_for? :footer
  = yield_region :footer