.hidden-xs
  = yield_region :header_image

- if region_content_for? :main
  .page-body
    .row
      .col-sm-offset-1.col-sm-10.text-lg
        = yield_region :main

%hr

.page-body
  .row.social-icon-links
    .col-sm-5.col-sm-offset-1.col-md-4.col-md-offset-1
      %h2.submenu-title.text-center Tobias Roetsch
      .row
        .col-xs-4
          = shop_icon_link :fineartprint, 'http://www.taenaron.fineartprint.de'
        .col-xs-4
          = shop_icon_link :posterlounge, 'http://www.posterlounge.de/kuenstler/roetsch'
        .col-xs-4
          = shop_icon_link :deviantart, 'http://taenaron.deviantart.com/prints'
      .row
        .col-xs-4
          = shop_icon_link :artflakes, 'http://www.artflakes.com/de/shop/taenaron'
        .col-xs-4
          = shop_icon_link :fineartamerica, 'http://fineartamerica.com/profiles/tobias-roetsch.html'
        .col-xs-4
          = shop_icon_link :society6, 'http://society6.com/taenaron'

    .col-sm-5.col-md-4.col-md-offset-2
      %h2.submenu-title.text-center Jeff Michelmann
      .row
        .col-xs-4
          = shop_icon_link :fineartprint, 'http://jmichelmann.fineartprint.de'
        .col-xs-4
          = shop_icon_link :deviantart, 'http://gucken.deviantart.com/prints'
        .col-xs-4
          = shop_icon_link :theuntappedsource, 'http://www.theuntappedsource.com/gucken'
