- content_for :head do
  = pagination_link_tags @project_pages

= render 'breadcrumbs'

%h1.sr-only= page.title

- if @project_pages.any?
  #gallery.clearfix{data: { total_pages: @project_pages.total_pages }}
    - @project_pages.each do |page|
      - cache [I18n.locale, page, page.embeddable, page.embeddable.project, :brick] do
        - present page.embeddable do |project_page|
          .gallery-item
            = link_to page, class: 'gallery-link' do
              - if project_page.project.cover
                %figure.gallery-image-container
                  .gallery-image-wrapper
                    = image_tag attached_asset_path(project_page.project.cover, :brick), class: 'gallery-image img-responsive', alt: page.title
                  %figcaption.gallery-image-caption-wrapper
                    .gallery-image-caption-container
                      .gallery-image-caption
                        %h3.gallery-image-title= page.title

  .btn-toolbar-page-foot.clearfix
    = button_link_to '#top', type: :page_foot, size: :lg, id: 'back_to_top', class: 'pull-right', title: translate('helpers.links.back_to_top'), data: { scroll: true, toggle: 'tooltip', container: 'body', placement: 'top' } do
      = icon :angle, direction: :up
    = paginate @project_pages, theme: :gallery

- else
  .page-body
    .text-center
      = translate('hints.empty', model: Project.model_name.human(count: 2))
