= semantic_form_for @redirection do |form|

  = render 'errors', object: form.object

  = form.inputs do
    = form.input :source_path
    = form.input :destination_url

  = form.actions do
    = form.submit
