= simple_form_for [:admin, @project], html: { class: 'form-horizontal' } do |form|

  = form.input :title, input_html: { autofocus: true }
  = form.input :url
  = form.input :client_name, as: :client_select
  = form.input :released_in, collection: Date.today.year.downto(2005)
  = form.input :description, input_html: { class: 'editor', rows: 10 }
  = form.association :author

  = form_actions do
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon :save, translate(@project.new_record? ? :create : :update, scope: 'helpers.submit', model: Project.model_name.human)
    = cancel_button [:admin, @project]