- present @project, with: Admin::ProjectPresenter do |project|

  = page_header do
    .btn-toolbar
      .btn-group.pull-right
        = button_link_to [:edit, :admin, project], data: { toggle: 'dropdown' }, class: 'dropdown-toggle' do
          = prepend_icon :cog, translate('helpers.links.settings'), fixed_width: true, caption_html: { class: 'sr-only' }
        %ul.dropdown-menu{role: 'menu', aria_labelledby: 'dLabel'}
          %li= link_to prepend_icon(:pencil, translate('helpers.links.edit'), fixed_width: true), [:edit, :admin, project]
          %li= link_to prepend_icon(:trash, translate('helpers.links.destroy'), outline: true, fixed_width: true), [:admin, project], method: :delete, data: { confirm: translate('helpers.confirmations.destroy', model: Project.model_name.human) }

  .row
    .col-lg-8

      #project_image_upload_dropzone
        = form_tag batch_process_admin_project_images_path(@project), method: :patch, remote: true do

          .panel.panel-default
            .panel-heading
              %h4.panel-title= prepend_icon :picture, Project::Image.model_name.human(count: 2), outline: true, fixed_width: true
        
            = render 'admin/project/images/table'

            .panel-footer.clearfix
              .btn-toolbar.pull-left
                .btn-group
                  = button_tag name: 'destroy', class: 'btn btn-danger deactivatable-batch-control', data: { hotkey: 'del', confirm: translate('helpers.confirmations.destroy_selected', model: Image::Style.model_name.human(count: 2)) } do
                    = prepend_icon :trash, translate('helpers.links.destroy_selected'), outline: true
              .btn-toolbar.pull-right
                .btn-group.only-js
                  %span.btn.btn-success.fileinput-button
                    = prepend_icon :upload, translate('helpers.links.upload', model: Image.model_name.human(count: 2))
                    = file_field_tag :image_upload, name: 'image[asset]', multiple: true, data: { url: upload_admin_project_images_path(@project) }
                .btn-group
                  = button_link_to [:assign_images_to, :admin, @project], remote: true do
                    = prepend_icon :mail_forward, translate('helpers.links.assign', model: Image.model_name.human(count: 2))

    .col-lg-4
      - if project.url.present?
        .panel.panel-invisible
          = button_link_to project.url, type: :primary, size: :lg, block: true, data: { no_turbolink: true } do
            = prepend_icon :external_link, translate('helpers.model_links.view', model: Project.model_name.human), fixed_width: true

      - if project.author.present?
        = panel do
          .row
            .col-sm-3
              = project.author.gravatar(true)
            .col-sm-9
              = project.author.name(true)
              .text-muted= project.updated_at

      - if project.description.present?
        = panel do
          = liquify project.description, with: project

      = panel prepend_icon(:info, translate('views.admin.projects.headlines.details'), fixed_width: true) do
        %dl.dl-horizontal
          = project.list_item :project_type
          = project.list_item :client, true
          = project.list_item :released_in
          = project.list_item :pages_count, true