- redirection ||= @redirection

%dt= Redirection.human_attribute_name :destination
- if redirection.external?
  %dd= link_to redirection.destination_url, redirection.destination_url
- else
  %dd= link_to redirection.destination_page, redirection.destination_page

%dt= Redirection.human_attribute_name :permanent
%dd= yes_or_no(redirection.permanent?)