= semantic_form_for @page, data: { record_id: @page.id } do |form|

  = render 'errors', object: form.object

  #page_path_preview

  = form.inputs do
    = form.input :title
    = form.input :slug
    = form.input :parent, collection: Page.without_self_and_descendants_of(form.object).map { |page| [''.rjust(page.depth * 3 * '&nbsp;'.length, '&nbsp;').html_safe + page.title, page.id] }
    = form.input :content

  = form.actions do
    = form.submit
