= semantic_form_for @page do |form|

  = render 'errors', object: form.object

  = form.inputs do
    = form.input :title
    = form.input :slug
    = form.input :parent
    = form.input :content

  = form.actions do
    = form.submit
