%p#notice= notice

= render 'breadcrumbs', page: @page

%h1= @page.title

- if @page.content.present?
  = simple_format @page.content
- else
  %p -

%h3 Sub Pages
%p= link_to 'Create', new_page_path(parent_id: @page.id)
- if @sub_pages.any?
  = render 'table', pages: @sub_pages

%hr

= link_to 'Edit', [:edit, @page]
\|
= link_to 'Back', :pages
