%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Slug:
  = @page.slug
- if @page.parent
  %p
    %b Parent:
    = link_to @page.parent, virtual_page_path(@page.parent)
%p
  %b Content:
  = @page.content

%h2 Parent Pages
%ul
  - @page.ancestors.each do |ancestor|
    %li= link_to ancestor, virtual_page_path(ancestor)

%h2 Sub Pages
= render 'table', pages: @sub_pages

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
