%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Slug:
  = @page.slug
- if @page.parent
  %p
    %b Parent:
    = link_to @page.parent, virtual_page_path(@page.parent)
%p
  %b Content:
  = @page.content

- if @parent_pages.any?
  %h2 Parent Pages
  = render 'table', pages: @parent_pages

%h2 Sub Pages
%p= link_to 'Create', new_page_path(parent_id: @page.id)
- if @sub_pages.any?
  = render 'table', pages: @sub_pages

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
