%h1 Listing projects

%table
  %tr
    %th Name
    %th Slug
    %th Portfolio
    %th Description
    %th Client
    %th Url
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.slug
      %td= project.portfolio
      %td= project.description
      %td= project.client
      %td= project.url
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
