= fields.input :caption, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
= fields.input :external, collection: [[Editor::Link.human_attribute_name(:internal), false], [Editor::Link.human_attribute_name(:external), true]], as: :radio_buttons, label: false, container_html: { class: 'col-lg-offset-3 col-lg-9' }
= fields.input :page_id, collection: page_sitemap_collection_for_select, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
= fields.input :url, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
= fields.input :target, collection: [['Neues Fenster', '_blank'], ['Oberstes Fenster', '_top']], include_blank: 'Gleiches Fenster', container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }