= simple_form_for [:admin, :editor, @link], url: admin_editor_link_path, method: :patch, remote: true, html: { class: 'form-horizontal' } do |form|

  .modal-body
    = form.input :page, collection: page_sitemap_collection_for_select, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    = form.input :url, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    = form.input :new_window, as: :boolean, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }

  .modal-footer
    = form.button :submit, class: 'btn-primary'
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }
