- content_for :title do
  = translate(@link.persisted? ? :edit : :new, scope: 'helpers.titles', model: Editor::Link.model_name.human)

= simple_form_for [:admin, @link], url: admin_editor_link_path, html: { class: 'form-horizontal editor-form' } do |form|

  .modal-body
    = form.input :content, as: :hidden
    = form.input :external, collection: [[Editor::Link.human_attribute_name(:internal), false], [Editor::Link.human_attribute_name(:external), true]], as: :radio_buttons, label: Editor::Link.human_attribute_name(:link_type), required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    .editor-internal-link-fields      
      = form.input :page_id, collection: page_sitemap_collection_for_select, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      = form.input :locale, collection: available_locales_for_select, include_blank: translate('helpers.prompts.custom'), container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    .editor-external-link-fields
      = form.input :url, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    = form.input :target, collection: Editor::Link.targets.invert, as: :radio_buttons, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      
  .modal-footer
    = form.button :submit, class: 'btn-primary'
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }