- if @image_styles.any?
  %table.table.table-hover
    %thead
      %tr
        %th.thumbnail-cell
        %th= Image::Style::Translation.human_attribute_name(:title)
        %th= Image::Style.human_attribute_name(:file_size)
        %th= Image::Style.human_attribute_name(:downloads_count)
    %tbody
      - present_collection(@image_styles, with: Admin::Image::StylePresenter).each do |image_style|
        = content_tag_for :tr, image_style do
          %td.thumbnail-cell
            = link_to [:admin, image_style.image], target: '_blank' do
              = image_tag attached_asset_path(image_style, :thumbnail), class: 'img-circle', alt: image_style.title, width: 45, height: 45
          %td
            = link_to image_style.title, [:admin, image_style.image]
            %br
            %span.text-muted
              = image_style.image.title
          %td= image_style.file_size
          %td= image_style.downloads_count
- else
  .panel-body.text-center
    Bislang wurden keine Downloads festgestellt.
