- if @images.any?
  %table.table.table-hover
    %thead
      %tr
        %th.thumbnail-cell
        %th= Image::Translation.human_attribute_name(:title)
        %th= Image::Style.human_attribute_name(:downloads_count)
    %tbody
      - present_collection(@images, with: Admin::ImagePresenter).each do |image|
        = content_tag_for :tr, image do
          %td.thumbnail-cell
            = link_to [:admin, image], target: '_blank' do
              = image_tag attached_asset_path(image, :thumbnail), class: 'img-circle', alt: image.title, width: 45, height: 45
          %td
            = link_to image.title, [:admin, image.image]
            %br
            %span.text-muted
              = number_with_delimiter(image.styles.size)
              = Image::Style.model_name.human(count: image.styles.size)
          %td= image.downloads_count
- else
  .panel-body.text-center
    Bislang wurden keine Downloads festgestellt.
