= panel 'Downloads' do
  %dl.dl-horizontal
    %dt Gesamtzahl
    %dd
      = number_with_delimiter @downloads_count
      Downloads
    %dt Belegter Speicher
    %dd= number_to_human_size @bytes_total, strip_insignificant_zeros: false, precision: 3
    %dt Gesendete Daten
    %dd= number_to_human_size @bytes_sent, strip_insignificant_zeros: false, precision: 3

/ Attachments
.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      = Attachment.model_name.human(count: 2)
    - if @attachments.any?
      .pull-right
        = link_to 'Alle anzeigen', :admin_stats_downloaded_attachments
  = render 'attachments_table'

/ Images
.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      = Image.model_name.human(count: 2)
    - if @images.any?
      .pull-right
        = link_to 'Alle anzeigen', :admin_stats_downloaded_images
  = render 'images_table'

/ Image Styles
.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      = Image::Style.model_name.human(count: 2)
    - if @image_styles.any?
      .pull-right
        = link_to 'Alle anzeigen', :admin_stats_downloaded_image_styles
  = render 'image_styles_table'
