= panel 'Downloads' do
  %dl.dl-horizontal
    %dt Belegter Speicher
    %dd= number_to_human_size @bytes_total, strip_insignificant_zeros: false, precision: 3
    %dt Gesendete Daten
    %dd= number_to_human_size @bytes_sent, strip_insignificant_zeros: false, precision: 3

/ Total
.panel.panel-default
  .panel-heading.clearfix
    .panel-title.pull-left
      %h3.panel-title
        Gesamt
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.size
    - if @downloads.size > 0
      .pull-right
        = link_to 'Alle anzeigen', :admin_stats_total_downloads
  = render 'table', downloads: @downloads.limit(5)

/ Current Month
.panel.panel-default
  .panel-heading.clearfix
    .panel-title.pull-left
      %h3.panel-title
        Aktueller Monat
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.in_current_month.size
    - if @downloads.in_current_month.size > 0
      .pull-right
        = link_to 'Alle anzeigen', admin_stats_monthly_downloads_path(year: Date.today.year, month: Date.today.month)
  = render 'table', downloads: @downloads.in_current_month.limit(5)

/ Previous Month
.panel.panel-default
  .panel-heading.clearfix
    .panel-title.pull-left
      %h3.panel-title
        Vorheriger Monat
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.in_previous_month.size
    - if @downloads.in_previous_month.size > 0
      .pull-right
        = link_to 'Alle anzeigen', admin_stats_monthly_downloads_path(year: (Date.today - 1.month).year, month: (Date.today - 1.month).month)
  = render 'table', downloads: @downloads.in_previous_month.limit(5)

- if @referers.any?
  .panel.panel-default
    .panel-heading.clearfix
      .panel-title.pull-left
        %h3.panel-title Referenzierende Seiten
      .pull-right
        = link_to 'Alle anzeigen', :admin_stats_download_referers
    = render 'referers_table'
