= panel 'Downloads' do
  %dl.dl-horizontal
    %dt Belegter Speicher
    %dd= number_to_human_size @bytes_total, strip_insignificant_zeros: false, precision: 3
    %dt Gesendete Daten
    %dd= number_to_human_size @bytes_sent, strip_insignificant_zeros: false, precision: 3

/ Total
.panel.panel-default
  .panel-heading
    .panel-title
      %h3.panel-title
        Gesamt
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.size
  = render 'table', downloads: @grouped_downloads

/ Current Month
.panel.panel-default
  .panel-heading
    .panel-title
      %h3.panel-title
        Aktueller Monat
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.in_current_month.size
  = render 'table', downloads: @grouped_downloads.in_current_month

/ Previous Month
.panel.panel-default
  .panel-heading
    .panel-title
      %h3.panel-title
        Vorheriger Monat
        %span.text-muted
          = surround '(', ')' do
            = number_with_delimiter @downloads.in_previous_month.size
  = render 'table', downloads: @grouped_downloads.in_previous_month
