- content_for :head do
  %meta{name: 'robots', content: 'noindex,follow'}

.row
  .col-md-offset-1.col-md-10
    .page-prominent-container-md
      = render 'breadcrumbs'

      .page-header
        %h1= translate('views.images.buy', image: @image.title)

      .page-body
        .row
          .col-sm-4.hidden-xs
            = link_to @page do
              = image_tag attached_asset_path(@image, :brick), class: 'img-responsive', alt: @image.title

          .col-sm-8
            = simple_form_for @message, as: :message, url: request_image_purchase_path(@page.path), wrapper: :vertical_form, defaults: { input_html: { class: 'input-lg' }} do |form|
              .content.form-inputs
                = form.input :first_sender_name, label: false, input_html: { autofocus: true }
                = form.input :last_sender_name, label: false
                = form.input :sender_email, label: false
              .content.form-inputs
                = form.input :body, label: false, input_html: { rows: 8 }
              - if @message.security_question
                .content-form-inputs
                  = @message.security_question
                  = form.input :security_answer, label: false
              .content.form-group
                = form.button :submit, class: 'btn-primary btn-lg'

