= index_headline_for Page::Template do
  .btn-toolbar
    = create_button_link_for Page::Template, namespace: :admin

- if @page_templates.any?
  
  %table.table.table-striped
    %thead
      %tr
        %th.thumbnail-cell
        %th= Page::Template.human_attribute_name :name
        %th= Page::Template.human_attribute_name :default
        %th.actions
    %tbody
      - @page_templates.each do |page_template|
        %tr
          %td.thumbnail-cell= image_tag page_template.screenshot.url(:thumbnail) if page_template.screenshot.present?
          %td= page_template.name
          %td= yes_or_no page_template.default?
          %td.actions
            = action_buttons_for page_template, size: :mini do
              - unless page_template.default?
                = button_link_to 'Make Default', [:make_default, :admin, page_template], size: :mini, method: :patch

- else
  .well.text-center
    %h4= translate('views.hints.empty', model: Page::Template.model_name.human(count: 2))