- present @image, with: Admin::ImagePresenter do |image|
  %table.table#image_styles
    %thead
      %tr
        %th.checkbox-cell
          - if image.styles.any?
            %input{type: 'checkbox', class: 'js-only table-checkbox-all'}
        %th.thumbnail-cell
        %th= Image::Style.human_attribute_name :title
        %th.actions
    %tbody
      %tr
        %td.checkbox-cell
        %td.thumbnail-cell
          = link_to attached_asset_path(image, :custom) do
            = image_tag attached_asset_path(image, :thumbnail), class: 'img-circle', alt: translate('views.admin.images.original'), width: 45, height: 45
        %td
          = link_to translate('views.admin.images.original'), attached_asset_path(image, :custom), target: '_blank'
          %br
          %span.text-muted.ignored
            = image.dimensions
        %td.actions
          = image.action_buttons only: [:edit, :customize], icon_only: true

      - image.styles.each do |image_style|
        = render 'admin/image/styles/image_style', image_style: image_style
