.btn-toolbar
  = paginate @image_styles
  .btn-group    
    = button_link_to new_admin_image_style_path(@image), type: :success, accesskey: 'N' do
      = prepend_icon :plus, translate('helpers.links.new', model: Image::Style.model_name.human)
    = button_tag type: 'button', class: 'btn btn-success fileinput-button only-js', title: translate('helpers.links.upload', model: Image.model_name.human), data: { toggle: 'tooltip', container: 'body' } do
      = prepend_icon :upload, translate('helpers.links.upload', model: Image.model_name.human), caption_html: { class: 'sr-only' }
      = file_field_tag :image_style_upoad, name: 'image[asset]', multiple: true, data: { url: upload_admin_image_styles_path(@image) }
  .btn-group
    = button_tag name: 'destroy', class: 'btn btn-danger deactivatable-batch-control', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Image.model_name.human(count: 2)) } do
      = prepend_icon :trash, translate('helpers.links.destroy_selected'), outline: true

%br

#image_styles_empty_hint.well.text-center{class: @image_styles.any? ? 'hidden' : nil}
  = translate('views.hints.empty', model: Image.model_name.human(count: 2))

%table#image_styles.table.table-hover{class: @image_styles.empty? ? 'hidden' : nil}
  %thead
    %tr
      %th.checkbox-cell
        %input{type: 'checkbox', class: 'js-only table-checkbox-all', data: { toggle: 'tableCheckboxes' }}
      %th= sort_link_for @image_styles, :title
      %th= sort_link_for @image_styles, :dimensions
  %tbody
    - @image_styles.each do |image_style|
      = render image_style
