- content_for :stylesheets do
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }

- content_for :javascripts do
  = javascript_include_tag 'application', data: { turbolinks_track: true }

- content_for :head do
  %meta{name: 'description', content: @page.meta_description || ''}
  %meta{name: 'keywords', content: @page.meta_keywords || ''}
  %meta{name: 'robots', content: @page.indexable? ? 'index,follow' : 'noindex,follow'}

  - # Meta Elements for OpenGraph/Social Media integration
  - if content_for? :social_meta_tags
    = yield :social_meta_tags
  - else
    %meta{property: 'og:title', content: @page.title}
    %meta{property: 'og:description', content: @page.meta_description || ''}
    %meta{property: 'og:image', content: asset_url('social_icon.png')}
    %meta{property: 'og:image:type', content: 'image/png'}
    %meta{property: 'og:image:width', content: 600}
    %meta{property: 'og:image:height', content: 600}
  %meta{property: 'og:url', content: page_url(@page)}

  - # References to other translations
  %link{rel: 'canonical', href: request.url}
  - @page.translated_locales.reject { |locale| locale == I18n.locale }.each do |translated_locale|
    %link{rel: 'alternate', hreflang: translated_locale, href: url_for(params.merge(locale: translated_locale, only_path: false))}

- content_for :content do
  = facebook_sdk_anchor

  %a#top{name: 'top'}

  = yield :pre_body_content

  - if content_for? :body_content
    = yield :body_content
  - else
    = yield

  = loader
  = include_tracking_script

  = yield :post_body_content

= render template: 'layouts/application'
