- content_for :stylesheets do
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }

- content_for :javascripts do
  = javascript_include_tag 'application', data: { turbolinks_track: true }

- content_for :head do
  %meta{name: 'description', content: @page.meta_description || ''}
  %meta{name: 'keywords', content: @page.meta_keywords || ''}
  %meta{name: 'robots', content: @page.indexable? ? 'index,follow' : 'noindex,follow'}

  - # Meta Elements for OpenGraph/Social Media integration
  - if content_for? :social_meta_tags
    = yield :social_meta_tags
  - else
    %meta{property: 'og:title', content: @page.title}
    %meta{property: 'og:description', content: @page.meta_description || ''}
  %meta{property: 'og:url', content: page_url(@page)}

  - # References to other translations
  %link{rel: 'canonical', href: page_url(@page)}  
  - @page.translated_locales.reject { |locale| locale == I18n.locale }.each do |translated_locale|
    %link{rel: 'alternate', hreflang: translated_locale, href: page_url(@page, locale: translated_locale)}
    
- content_for :content do
  = facebook_sdk_anchor

  %nav.navbar.navbar-header.navbar-fixed-top{role: 'navigation'}
    .container

      .navbar-header

        = link_to :root_page, class: 'navbar-brand' do
          = image_tag 'brand.png', alt: 'GT Graphics'
          %span.sr-only GT Graphics

        %ul.nav.navbar-nav
          - menu_items.each do |page|
            = active_link_to page.title, page, wrap_tag: :li, active: @page.self_and_ancestors.include?(page)

        %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
          = icon(:bars, fixed_width: true)
          %span.sr-only= translate('helpers.links.toggle_navigation')

      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
              = flag_icon(locale)
              %b.caret
            %ul.dropdown-menu
              - I18n.available_locales.sort_by { |locale| translate(locale, scope: :languages, locale: locale) }.each do |locale|
                = active_link_to page_path(@page, locale: locale), wrap_tag: :li, hreflang: locale, lang: locale, active: locale == I18n.locale, data: { no_turbolink: true } do
                  = prepend_flag_icon(locale, translate(locale, scope: :languages, locale: locale))

  .container
    = render_flashes    
    = render 'breadcrumbs'

    #page_content
      - if content_for? :page_content
        = yield :page_content
      - else
        = yield

  %nav.navbar.navbar-footer.navbar-fixed-bottom{role: 'navigation'}
    .container
      %p.navbar-text.copyright 
        &copy; 2006-#{Date.today.year} GT Graphics
      %ul.nav.navbar-nav
        - (Page.primary - menu_items).each do |page|
          %li= link_to page, page
      .navbar-text.social-buttons
        = facebook_site_like_button
      .pull-right
        / Tobias Roetsch
        %ul.nav.navbar-nav.author-social-buttons
          %li= link_to 'Tobias Roetsch', static_page_path('about/tobias')
          %li
            = link_to 'http://facebook.com/roetsch', class: 'icon-link', title: 'Facebook', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :facebook, 'Facebook', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to 'http://plus.google.com/100168788162708178507', class: 'icon-link', title: 'Google Plus', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :google_plus, 'Google Plus', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to 'http://twitter.com/taenaron', class: 'icon-link', title: 'Twitter', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :twitter, 'Twitter', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to 'http://taenaron.deviantart.com', class: 'icon-link', title: 'DeviantArt', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :deviantart, 'DeviantArt', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to '#', class: 'icon-link', title: 'Behance', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :behance, 'Behance', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }

        / Jeff Michelmann
        %ul.nav.navbar-nav.author-social-buttons
          %li= link_to 'Jeff Michelmann', static_page_path('about/jeff')
          %li
            = link_to 'http://facebook.com/jeff.gucken', class: 'icon-link', title: 'Facebook', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :facebook, 'Facebook', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to 'http://twitter.com/jmichelmann', class: 'icon-link', title: 'Twitter', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :twitter, 'Twitter', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }
          %li
            = link_to 'http://gucken.deviantart.com', class: 'icon-link', title: 'DeviantArt', target: '_blank', data: { toggle: 'tooltip', placement: 'top' } do
              = prepend_icon :deviantart, 'DeviantArt', fixed_width: true, size: :lg, caption_html: { class: 'sr-only' }

  = render 'footer'

= render template: 'layouts/application'