- content_for :body_content do
  #content_container.container

    #content_wrapper
      = link_to :root, id: 'brand' do
        = image_tag 'logo.png', id: 'logo', alt: 'GT Graphics'
        .sr-only GT Graphics

      #page_wrapper
        = render 'navbar'

        - if notice && yield(:hide_notice) != true
          .alert.alert-success= notice

        - if alert && yield(:hide_alert) != true
          .alert.alert-danger= alert

        = yield :page_wrapper_content
        = render 'footer'

= render template: 'layouts/page/application'
