= fields.input :external, collection: [[Editor::Image.human_attribute_name(:internal), false], [Editor::Image.human_attribute_name(:external), true]], as: :radio_buttons, label: false, container_html: { class: 'col-lg-offset-3 col-lg-9' }

.internal-image-fields
  = fields.input :image_id, collection: Image.with_translations.collect { |image| [image.title, image.id, { data: { width: image.width, height: image.height } }] }, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
  /= fields.input :image_style, collection: Image.attachment_definitions[:asset][:styles].keys.collect { |style| [style, style] }, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }

.external-image-fields
  = fields.input :url, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }


.form-group
  = fields.label :width, Editor::Image.human_attribute_name(:size), class: 'control-label col-lg-3'
  .col-lg-4
    = fields.input_field :width
  .col-lg-1.text-center.input-group-intermediate-text
    &times;
  .col-lg-4
    = fields.input_field :height

/= fields.input :width, container_html: { class: 'col-lg-3' }, label_html: { class: 'col-lg-3' }
/= fields.input :height, container_html: { class: 'col-lg-3' }, label_html: { class: 'col-lg-3' }
= fields.input :alternative_text, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }