- content_for :title do
  = translate(@image.persisted? ? :edit : :new, scope: 'helpers.titles', model: Editor::Image.model_name.human)

= simple_form_for [:admin, @image], url: :admin_editor_image, html: { class: 'form-horizontal editor-form' } do |form|

  .modal-body
    = form.input :external, collection: [[Editor::Image.human_attribute_name(:internal), false], [Editor::Image.human_attribute_name(:external), true]], as: :radio_buttons, label: false, container_html: { class: 'col-lg-offset-3 col-lg-9' }

    .editor-internal-image-fields
      = form.input :image_id, collection: Image.with_translations.collect { |image| [image.title, image.id, { data: { width: image.width, height: image.height } }] }, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      /= form.input :image_style, collection: Image.attachment_definitions[:asset][:styles].keys.collect { |style| [style, style] }, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }

    .editor-external-image-fields
      = form.input :url, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }

    = form.input :width, container_html: { class: 'col-lg-4' }, label_html: { class: 'col-lg-3' }
    = form.input :height, container_html: { class: 'col-lg-4' }, label_html: { class: 'col-lg-3' }
    = form.input :alternative_text, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      
  .modal-footer
    = form.button :submit, class: 'btn-primary'
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }