- content_for :title do
  = translate(@image.persisted? ? :edit : :new, scope: 'helpers.titles', model: Editor::Image.model_name.human)

= simple_form_for [:admin, @image], url: :admin_editor_image, html: { class: 'form-horizontal editor-form' } do |form|

  .modal-body
    = render 'fields', fields: form
      
  .modal-footer
    = form.button :submit, class: 'btn-primary'
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }