- content_for :title do
  = translate(@image.persisted? ? :edit : :new, scope: 'helpers.titles', model: Editor::Image.model_name.human)

= simple_form_for [:admin, @image], url: :admin_editor_image, html: { class: 'form-horizontal editor-form' } do |form|

  .modal-body
    = form.input :external, collection: [[Editor::Image.human_attribute_name(:internal), false], [Editor::Image.human_attribute_name(:external), true]], as: :radio_buttons, label: Editor::Image.human_attribute_name(:source), required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    .editor-internal-image-fields
      = form.input :image_id, required: true, input_html: { class: 'resource-combobox', data: { resource_url: admin_images_path(format: :json), formatter: 'ImageComboboxFormatter', params: { include_styles: true } } }, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      = form.input :original_style, as: :boolean, label: Editor::Image.human_attribute_name(:style_name), inline_label: Editor::Image.human_attribute_name(:original_style), required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      .editor-internal-image-styles-fields
        = form.input :style, as: :select, collection: @image.image ? @image.image.styles.map { |style| [style.caption, style.to_param, { data: { dimensions: style.transformed_dimensions } }] } : [], label: false, container_html: { class: 'col-lg-9 col-lg-offset-3' }
    .editor-external-image-fields
      = form.input :url, required: true, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    = form.input :width, as: :integer, input_html: { min: 1 }, container_html: { class: 'col-lg-4' }, label_html: { class: 'col-lg-3' }
    = form.input :height, as: :integer, input_html: { min: 1 }, container_html: { class: 'col-lg-4' }, label_html: { class: 'col-lg-3' }
    = form.input :alternative_text, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
    = form.input :alignment, collection: Editor::Image.alignments.invert, container_html: { class: 'col-lg-9' }, label_html: { class: 'col-lg-3' }
      
  .modal-footer
    = form.button :submit, class: 'btn-primary'
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }