- shouts ||= @shouts
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

%table.table.table-striped
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th= Shout.human_attribute_name :nickname
      %th= Shout.human_attribute_name :message
      %th= Shout.human_attribute_name :created_at
      - if actions
        %th.actions
  %tbody
    - shouts.each do |shout|
      %tr
        - if checkboxes
          %td.checkbox-cell
            %input{type: 'checkbox', class: 'table-checkbox'}
        %td= shout.nickname
        %td= shout.message.truncate(50)
        %td= localize shout.created_at
        - if actions
          %td.actions
            = action_buttons_for shout, parent: @album, size: :mini
