= simple_form_for @image_owner_assignment_form, as: :image_owner_assignment, url: :associate_owner_with_admin_images, remote: true, method: :patch, html: { class: 'form-horizontal' } do |form|
  .modal-body
    - form.object.image_ids.each do |image_id|
      = form.input_field :image_ids, value: image_id, as: :hidden, multiple: true
    = form.input :author_id, collection: User.all, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes

  .modal-footer
    = form.button :button, name: 'save', type: 'submit', class: 'btn-primary' do
      = prepend_icon :save, translate('helpers.links.save'), scope: 'helpers.submit', model: Image.model_name.human
    = button_tag translate('helpers.links.close'), type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' }