= simple_form_for [:admin, @image], html: { class: 'form-horizontal' } do |form|

  = form.input :title
  = form.input :description, input_html: { class: 'caption-editor', rows: 6 }
  = form.association :author, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes

  %fieldset
    %legend= Image.human_attribute_name :shop_urls
    .fields
      - Image.available_shop_providers.each do |shop_provider|
        = form.input :"#{shop_provider}_url", as: :affixed_string, input_html: { class: 'shop-provider-input', prefix: shop_provider_icon(shop_provider) }

  - if @image.pages.any?
    %fieldset
      %legend= Image.human_attribute_name :pages
      .fields
        = form.input :propagate_changes_to_pages, as: :boolean, wrapper: :horizontal_boolean, label: translate(@image.pages.one? ? :propagate_changes_to_page : :propagate_changes_to_n_pages, scope: 'activerecord.attributes.image', count: @image.pages.count)

  = form_actions do
    = form.button :button, type: 'submit', class: 'btn-primary' do
      = prepend_icon :save, translate(@image.new_record? ? :create : :update, scope: 'helpers.submit', model: Page.model_name.human)
    = button_link_to translate('helpers.links.cancel'), [:admin, @image]
