= simple_form_for [:admin, @image], html: { class: 'form-horizontal' } do |form|

  = toolbar do
    .btn-group
      = form.button :button, type: 'submit', class: 'btn-primary' do
        = prepend_icon(:save, translate(@image.new_record? ? :create : :update, scope: 'helpers.submit', model: Image.model_name.human))

  = translation_manager_for form, url: translation_fields_admin_images_path

  = form.input :asset, as: :image_preview, required: true, input_html: { preview_version: :thumbnail }, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
  = form.association :author, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }

  - if @image.new_record?
    /%fieldset
    /  %legend= Page.model_name.human(count: 2)
    /  .content
    /    = simple_fields_for @image_page_embedding_activity do |fields|
    /      = fields.input :parent_page_id, collection: page_sitemap_collection_for_select(Page.except_images), label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }