= semantic_form_for @album ? [:admin, @album, @image] : [:admin, @image], html: { class: 'form-horizontal' } do |form|

  = form.inputs do
    = form.input :title
    = form.input :slug
    = form.input :asset

  = form.inputs for: :translations do |translation_fields|
    %legend= translate(translation_fields.object.locale, scope: :locales)
    = translation_fields.input :locale, as: :hidden
    = translation_fields.input :caption, input_html: { class: 'span6' }

  = form.actions do
    = form.action :submit, button_html: { class: 'btn btn-primary' }
    = form.action :cancel, url: @image.persisted? ? [:admin, @album, @image].compact : [:admin, @album, :images].compact, button_html: { class: 'btn btn-default' }