- present image, with: Admin::ImagePresenter do |image|
  = content_tag_for :tr, image do
    - if local_assigns.fetch(:checkboxes, true)
      %td.checkbox-cell
        = check_box_tag 'image_ids[]', image.id, false, class: 'table-checkbox', id: nil, data: { behavior: 'tableCheckbox' }
    %td.thumbnail-cell
      = link_to [:admin, image] do
        = image_tag image.asset.url(:thumbnail), class: 'img-circle', alt: image.title, width: 45, height: 45
    %td= link_to image.title, [:admin, image]
    %td.visible-lg= image.author
    %td= image.created_at
    - if local_assigns.fetch(:actions, true)
      %td.actions
        = image.action_buttons size: :xs, icon_only: true