- images ||= @images
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'image_ids[]', '', id: nil

%table.table.table-striped
  %thead
    %tr
      - if checkboxes
        %th.checkbox-cell
          %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
      %th.thumbnail-cell
      %th= Image.human_attribute_name :title
      %th= Image.human_attribute_name :content_type
      %th= Image.human_attribute_name :file_size
      %th= Image.human_attribute_name :dimensions
      - if actions
        %th.actions
  %tbody
    - images.each do |image|
      = content_tag_for :tr, image do
        - if checkboxes
          %td.checkbox-cell
            = check_box_tag 'image_ids[]', image.id, false, class: 'table-checkbox', id: nil
        %td.thumbnail-cell
          = link_to [:admin, @album, image].compact do
            = image_tag image.asset.url(:thumbnail), class: 'thumbnail'
        %td= link_to image.title, [:admin, @album, image].compact
        %td= image.human_content_type
        %td= number_to_human_size image.file_size
        %td #{image.width} x #{image.height}
        - if actions
          %td.actions
            = action_buttons_for image, parent: @album, size: :mini, icon_only: true
