- images ||= @images
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'image_ids[]', '', id: nil

- if current_user.preferences[:image_view_mode] == 'tiles'

  - images.each_slice(4) do |sliced_images|
    .row
      - sliced_images.each do |image|
        - present image, with: Admin::ImagePresenter do |image|
          .col-lg-3.col-md-3.col-sm-3.col-xs-6
            = thumbnail image.asset.url(:large_thumbnail), [:admin, image], alt: image.title do
              .actions.top.right
                = action_buttons_for image, size: :mini, icon_only: true
              %h3
                = image.title
              %p
                .badge.pull-right= image.format.upcase
                = image.dimensions
              - if image.tags.any?
                %ul.tags.tags-inline.hidden-xs.hidden-sm
                  - image.tags.each do |tag|
                    %li= tagged_link_to(tag, admin_images_path(query: tag.label), size: :sm)

- else

  %table.table.table-hover
    %thead
      %tr
        - if checkboxes
          %th.checkbox-cell
            %input{type: 'checkbox', class: 'only-js table-checkbox-all'}
        %th.thumbnail-cell
        %th.hidden-xs= sort_link_for images, :title
        %th.hidden-xs= Image.human_attribute_name :content_type
        %th= Image.human_attribute_name :dimensions
        %th.visible-lg= sort_link_for images, :author
        %th.visible-lg= sort_link_for images, :updated_at
        - if actions
          %th.actions
    %tbody
      - images.each do |image|
        - present image, with: Admin::ImagePresenter do |image|
          = content_tag_for :tr, image do
            - if checkboxes
              %td.checkbox-cell
                = check_box_tag 'image_ids[]', image.id, false, class: 'table-checkbox', id: nil
            %td.thumbnail-cell
              = link_to [:admin, image] do
                = image_tag image.asset.url(:thumbnail), class: 'img-circle', alt: image.title, style: 'width: 75px; height: 75px;'
            %td= link_to image.title, [:admin, image]
            %td.hidden-xs= image.content_type
            %td.hidden-xs= image.dimensions
            %td.visible-lg= image.author
            %td.visible-lg= image.updated_at
            - if actions
              %td.actions
                = image.action_buttons
