%table.table.table-striped
  %thead
    %tr
      %th.thumbnail-cell
      %th= Image.human_attribute_name :title
      %th= Image.human_attribute_name :content_type
      %th= Image.human_attribute_name :width
      %th= Image.human_attribute_name :height
      %th.actions
  %tbody
    - @images.each do |image|
      %tr.thumbnail-cell
        %td
          = link_to [:admin, image] do
            = image_tag image.asset.url(:thumbnail), class: 'img-polaroid'
        %td= link_to image.title, [:admin, image]
        %td= image.content_type
        %td= image.width
        %td= image.height
        %td.actions
          = action_buttons_for image