- images ||= @images
- actions = true if actions.nil?
- checkboxes = false if checkboxes.nil?

- if checkboxes
  = hidden_field_tag 'image_ids[]', '', id: nil

- if current_user.preferences[:image_view_mode] == 'tiles'

  - images.each_slice(4) do |sliced_images|
    .row
      - sliced_images.each_with_index do |image, index|
        - present image, with: Admin::ImagePresenter do |image|
          .col-sm-3
            = link_to [:admin, image], class: 'thumbnail', data: { toggle: 'popover', trigger: 'hover', title: image.title, content: image.preview_html, html: true, container: 'body', placement: index == 3 ? 'left' : 'right' } do
              = image_tag image.asset.url(:thumbnail), alt: image.title

- else

  %table.table.table-hover
    %thead
      %tr
        - if checkboxes
          %th.checkbox-cell
            %input{type: 'checkbox', class: 'js-only table-checkbox-all'}
        %th.thumbnail-cell
        %th.hidden-xs= sort_link_for images, :title
        %th.hidden-xs= Image.human_attribute_name :content_type
        /%th= Image.human_attribute_name :dimensions
        %th.visible-lg= sort_link_for images, :author
        - if actions
          %th.actions
    %tbody
      - images.each do |image|
        - present image, with: Admin::ImagePresenter do |image|
          = content_tag_for :tr, image do
            - if checkboxes
              %td.checkbox-cell
                = check_box_tag 'image_ids[]', image.id, false, class: 'table-checkbox', id: nil
            %td.thumbnail-cell
              = link_to [:admin, image] do
                = image_tag image.asset.url(:thumbnail), class: 'img-circle', alt: image.title, width: 45, height: 45
            %td= link_to image.title, [:admin, image]
            %td.hidden-xs= image.content_type
            %td.visible-lg= image.author
            - if actions
              %td.actions
                .btn-group.pull-right
                  = image.edit_button size: :lg, icon: { caption_html: { class: 'sr-only' }}, data: { toggle: 'tooltip', container: 'body', title: 'Bearbeiten' }
