= simple_form_for [:admin, @image], url: [:crop, :admin, @image], html: { class: 'form-horizontal' } do |form|

  = page_header do
    .btn-toolbar
      = button_link_to translate('helpers.links.cancel'), [:admin, @image]
      = form.button :button, type: 'submit', class: 'btn-primary' do
        = prepend_icon(:save, translate(form.object.new_record? ? :create : :update, scope: 'helpers.submit', model: form.object.class.model_name.human))

  = render 'manipulator_fields', fields: form
