.row
  .col-sm-offset-1.col-sm-8
    = page_header

.row
  .col-sm-offset-1.col-sm-8
    = render 'form'

  .col-sm-offset-1.col-sm-2
    .tabs-right
      %ul.nav.nav-tabs
        %li.divider
        = active_link_to [:crop, :admin, @image], wrap_tag: :li do
          = prepend_icon :crop, translate('helpers.links.edit'), fixed_width: true, size: :lg
        = active_link_to [:admin, @image, :styles], wrap_tag: :li do
          = prepend_icon :picture, Image::Style.model_name.human(count: 2), outline: true, fixed_width: true, size: :lg
        = active_link_to [:edit, :admin, @image], wrap_tag: :li do
          = prepend_icon :pencil, translate('helpers.links.edit_meta_data'), fixed_width: true, size: :lg
        %li.divider