= form_tag :destroy_multiple_admin_images, method: :delete do

  = index_headline_for Image do
    %ul.list-inline
      %li.batch-controls
        = button_tag prepend_icon(:trash, translate('helpers.links.destroy_selected'), outline: true), class: 'btn btn-danger batch-control', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Image.model_name.human(count: 2)) }
      %li= create_button_link_for Image, icon: :upload, caption: translate('helpers.links.upload', model: Image.model_name.human), url: :new_admin_image
      %li
        .btn-group
          = active_button_link_to icon(:th_list), { view: nil }, active: params[:view] != 'thumbnails', title: translate('views.list_types.table'), data: { toggle: 'tooltip', container: 'body' }
          = active_button_link_to icon(:th_large), { view: 'thumbnails' }, active: params[:view] == 'thumbnails', title: translate('views.list_types.tiles'), data: { toggle: 'tooltip', container: 'body' }

  - if @images.any?
    = render 'table', checkboxes: true
  - else
    .well.text-center
      %h4= translate('views.hints.empty', model: Image.model_name.human(count: 2))