- content_for :title do
  = Page::Image.model_name.human(count: 2)
  .badge= @pages.count

- content_for :content do
  .modal-body
    - if @pages.any?
      %ul.list-unstyled.list-wide
        - @pages.each do |page|
          = content_tag_for :li, page do
            = link_to page.title, [:admin, page]
            .text-muted
              = page.path
    - else
      = translate 'views.hints.empty', model: Page::Image.model_name.human(count: 2)