= view_headline_for @image do
  %ul.list-inline
    %li= translation_select
    %li= action_buttons_for @image, except: :show

.row
  .col-offset-2.col-lg-8
    = link_to image_tag(@image.asset.url(:preview), class: 'img-responsive thumbnail', alt: @image.title)

  .col-offset-2.col-lg-4
    %dl.dl-horizontal
      %dt= Image.human_attribute_name(:content_type)
      %dd= @image.human_content_type
      %dt= Image.human_attribute_name(:file_size)
      %dd= number_to_human_size @image.file_size
      %dt= Image.human_attribute_name(:dimensions)
      %dd #{@image.dimensions} #{translate('helpers.units.pixels')}

  .col-lg-4.text-center
    %br
    = button_link_to prepend_icon(:download, translate('helpers.links.download')), [:download, :admin, @image], size: :large, type: :primary


  .col-offset-2.col-lg-8

    - @image.translations.each do |image_translation|
      = translations_for image_translation.locale do
        = simple_format image_translation.caption

- if @albums and @albums.any?
  %h3= Album.model_name.human(count: 2)
  = render 'admin/albums/table', albums: @image.albums, actions: false