.gtg-admin-toolbar
  #toolbar.container
    = render 'breadcrumbs', toolbar: true
    .btn-toolbar.pull-right
      .btn-group.pull-right
        = button_link_to '#', data: { toggle: 'dropdown' }, class: 'dropdown-toggle' do
          = icon(:cog, fixed_width: true)
          .sr-only= translate('helpers.links.settings')
        %ul.dropdown-menu{role: 'menu', aria_labelledby: 'dLabel'}
          %li= link_to prepend_icon(:pencil, translate('helpers.links.edit'), fixed_width: true), [:edit, :admin, @image]
          %li= link_to prepend_icon(:crop, translate('helpers.links.crop'), fixed_width: true), [:crop, :admin, @image]
          - if @image.cropped?
            %li= link_to prepend_icon(:undo, translate('helpers.links.uncrop'), fixed_width: true), [:uncrop, :admin, @image], method: :patch
          %li.divider
          %li= link_to prepend_icon(:picture, translate('helpers.links.new', model: Image::Style::Variant.model_name.human), outline: true, fixed_width: true), [:new, :admin, @image, :style]
          %li= link_to prepend_icon(:upload, translate('helpers.links.upload', model: Image::Style::Attachment.model_name.human), fixed_width: true), new_admin_image_style_path(@image, source: 'attachment')
          %li.divider
          %li= link_to prepend_icon(:download, translate('helpers.links.download'), fixed_width: true), [:download, :admin, @image]
          %li= link_to prepend_icon(:folder_open, translate('helpers.links.move_to', model: Attachment.model_name.human(count: 2)), outline: true, fixed_width: true), [:move_to_attachments, :admin, @image], method: :patch, data: { confirm: translate('helpers.confirmations.move', model: Image.model_name.human, other_model: Attachment.model_name.human(count: 2)) }
          %li.divider
          %li= link_to prepend_icon(:trash, translate('helpers.links.destroy'), outline: true, fixed_width: true), [:admin, @image], method: :delete, data: { confirm: translate('helpers.confirmations.destroy', model: Image.model_name.human) }

.row
  .col-lg-8
    .content
      = link_to @image.asset.url(:transformed), target: '_blank' do
        = image_tag(@image.asset.url(:preview), class: 'img-responsive img-rounded center-block', alt: @image.title)

    .content
      = liquify @image.description, with: @image

  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= translate('views.admin.images.headlines.details')
      .panel-collapsible
        .panel-body
          %dl.dl-horizontal
            %dt= Image.human_attribute_name(:content_type)
            %dd= @image.human_content_type
            %dt= Image.human_attribute_name(:file_size)
            %dd= number_to_human_size @image.file_size
            %dt= Image.human_attribute_name(:dimensions)
            %dd
              - if @image.cropped?
                #{@image.crop_dimensions} (#{@image.dimensions})
              - else
                = @image.dimensions
            - if @image.author or @image.exif_data.artist.present?
              %dt= Image.human_attribute_name(:author)
              %dd
                - if @image.author
                  = link_to @image.author_name, [:admin, @image.author]
                - else
                  = @image.exif_data.artist
            - if @image.camera.present?
              %dt= Image.human_attribute_name(:camera)
              %dd= @image.camera
            - if @image.software.present?
              %dt= Image.human_attribute_name(:software)
              %dd= @image.software
            - if @image.taken_at.present?
              %dt= Image.human_attribute_name(:taken_at)
              %dd= time_ago @image.taken_at
            %dt= Image.human_attribute_name(:updated_at)
            %dd= time_ago @image.updated_at

    - if @image_styles.any?
      .panel.panel-default
        .panel-heading
          %h3.panel-title= Image::Style.model_name.human(count: 2)
        .panel-body
          = render 'admin/image_styles/table'