= view_headline_for @image

%p
  = image_tag @image.asset.url(:preview), class: 'img-polaroid', alt: @image.title

= simple_format @image.caption

%dl.dl-horizontal
  %dt Size
  %dd #{@image.size.join(' &times; ').html_safe} px (#{number_to_human @image.pixels} Pixels)
  %dt Aspect Ratio
  %dd= @image.aspect_ratio
  %dt Artist
  %dd= @image.exif_data.artist || '-'

- if @albums and @albums.any?
  %h3= Album.model_name.human(count: 2)
  = render 'admin/albums/table', albums: @image.albums, actions: false