- present @project do |project|

  = render 'breadcrumbs'

  .page-header
    %h1= project.title

  .page-body
    .row
      .col-md-9
        - present_collection(@images).each do |image|
          %figure.thumbnail.project-thumbnail
            = image_tag attached_asset_path(image, :custom), alt: image.title, class: 'img-responsive img-emerging'
            - if image.description.present?
              %figcaption.caption
                = image.description

      .col-md-3
        - if project.url.present?
          .content
            = button_link_to project.url, as: :primary, block: true, size: :lg, target: '_blank' do
              = append_icon :external_link, 'Zum Projekt', style: :square, fixed_width: true
          %hr

        .content
          = button_link_to project.author.path, as: :toolbar_info, class: 'toolbar-author' do
            .toolbar-author-image
              = project.author.thumbnail
            .toolbar-author-name.hidden-xs.hidden-sm
              = project.author.name

        .content
          - if project.client.present?
            .client
              = prepend_icon :user, project.client, fixed_width: true
          - if project.project_type.present?
            .project-type
              = prepend_icon :tag, project.project_type, fixed_width: true
          - if project.released_in.present?
            .release
              = prepend_icon :clock, project.released_in, outline: true, fixed_width: true

        - if project.description.present?
          %hr
          .content
            = project.description
