- present @project, with: Admin::ProjectPresenter do |project|
  .page-header
    %h1= project.title

  %dl.dl-horizontal
    %dt= Project.human_attribute_name :client_name
    %dd= project.client
    %dt= Project.human_attribute_name :released_in
    %dd= project.released_in

  %hr

  .content
    = project.description