= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |form|

  = toolbar do
    .btn-group
      = form.button :button, type: 'submit', class: 'btn-primary' do
        = prepend_icon(:save, translate(@user.new_record? ? :create : :update, scope: 'helpers.submit', model: User.model_name.human))

  %fieldset
    %legend= prepend_icon(:user, translate('views.forms.basics'), fixed_width: true)
    .fields
      = form.input :first_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      = form.input :last_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }  
      = form.input :email, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      = form.input :preferred_locale, collection: available_locales_for_select, include_blank: translate('helpers.prompts.custom'), label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-6' }

  %fieldset
    %legend= prepend_icon(:lock, translate('views.forms.password'), fixed_width: true)
    .fields
      - if @user.new_record?
        = render 'password_fields', fields: form
      - else
        .form-group
          .col-lg-offset-2.col-lg-10
            - if controller_name == 'accounts'
              = link_to translate('views.admin.account.edit_password'), :edit_password_admin_account
            - else
              = link_to translate('views.admin.users.edit_password'), [:edit_password, :admin, @user]