= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |form|

  %fieldset
    %legend= translate('views.forms.basics')
    .fields
      = form.input :first_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      = form.input :last_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }  
      = form.input :email, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      = form.input :preferred_locale, collection: available_locales_for_select, include_blank: translate('helpers.prompts.custom'), label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-6' }

  %fieldset
    %legend= translate('views.forms.password')
    .fields
      - if @user.new_record?
        = render 'password_fields', fields: form
      - else
        .form-group
          .col-lg-offset-2.col-lg-10
            - if controller_name == 'accounts'
              = link_to translate('views.admin.account.edit_password'), :edit_password_admin_account
            - else
              = link_to translate('views.admin.users.edit_password'), [:edit_password, :admin, @user]

  .form-group
    .col-lg-offset-2.col-lg-10
      = form.button :submit, class: 'btn-primary'
      = button_link_to translate('helpers.links.cancel'), :admin_users