.col-sm-8.col-sm-offset-2
  = page_header

  = simple_form_for @change_password_form, as: :user, method: :patch, url: controller_name == 'accounts' ? :update_password_admin_account : :update_password_admin_user, html: { class: 'form-horizontal' } do |form|

    = form.input :current_password if @user.current?
    = render 'admin/users/password_fields', fields: form

    = form_actions do
      = form.button :button, type: 'submit', class: 'btn-primary' do
        = prepend_icon(:save, translate(@user.new_record? ? :create : :update, scope: 'helpers.submit', model: User.model_name.human))
      = button_link_to translate('helpers.links.cancel'), @user.current? ? :edit_admin_account : [:admin, @user]
