.gtg-admin-toolbar
  #toolbar.container
    = render 'breadcrumbs', toolbar: true
    .btn-toolbar.pull-right
      .btn-group
        = create_button_link_for User, namespace: :admin
      = paginate @users

- if @users.any?
  = render 'table'  
- else
  .well.text-center
    %h4= translate('views.hints.empty', model: User.model_name.human(count: 2))