.gtg-admin-toolbar
  #toolbar.container
    %h1= User.model_name.human(count: 2)
    .clearfix
      .btn-toolbar.pull-left
        .btn-group
          = create_button_link_for User, namespace: :admin
      .btn-toolbar.pull-right
        = paginate @users

- if @users.any?
  = render 'table'  
- else
  .well.text-center
    %h4= translate('views.hints.empty', model: User.model_name.human(count: 2))