.page-header
  %h1 New User

= simple_form_for [:admin, @user], html: { class: 'form-horizontal', multipart: true } do |form|

  %fieldset
    %legend= translate('views.forms.basics')
    .fields
      = form.input :first_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      = form.input :last_name, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }  
      = form.input :email, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }

  %fieldset
    %legend= translate('views.forms.password')
    .fields
      = form.input :generate_password, as: :radio_buttons, collection: [[translate('helpers.boolean.yes'), true], [translate('helpers.boolean.no'), false]], label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
      #password_fields
        = render 'password_fields', fields: form

  .form-group
    .col-lg-offset-2.col-lg-10
      = form.button :submit, class: 'btn-primary'
      = button_link_to translate('helpers.links.cancel'), :admin_users