.row

  .col-lg-2.col-lg-offset-5
    = gravatar_image_tag @user.email, size: 400, default: :mm, alt: @user.full_name, class: 'img-circle img-responsive loader-large'

.row
  .col-lg-4.col-lg-offset-4
    .page-header
      %h1.text-center= @user.full_name
    %dl.dl-horizontal
      %dt= User.human_attribute_name :email
      %dd= mail_to @user.email
      %dt= User.human_attribute_name :preferred_locale
      %dd= @user.preferred_locale_name || translate('helpers.prompts.custom')
