- present region_definition, with: Admin::Template::RegionDefinitionPresenter do |region_definition|
  = content_tag_for :tr, region_definition do
    %td= region_definition.name
    %td= region_definition.label
    %td= region_definition.region_type
    %td.actions
      = region_definition.action_buttons remote: true
