%p#notice= notice

%p
  %b Name:
  = @testimonial.name
%p
  %b Slug:
  = @testimonial.slug
%p
  %b Description:
  = @testimonial.description
%p
  %b Launched on:
  = @testimonial.launched_on
%p
  %b Client name:
  = @testimonial.client_name
%p
  %b Url:
  = @testimonial.url

= link_to 'Edit', edit_testimonial_path(@testimonial)
\|
= link_to 'Back', testimonials_path
