!!!
%html{lang: I18n.locale}
  %head
    %title
      = (["GT Graphics"] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    %ul.nav
      - Page.published.roots.each do |page|
        %li= active_link_to page.title, page

    %ul.nav
      - available_locales.each do |locale|
        %li
          = active_link_to locale: locale do
            = flag_icon(locale)
            = translate(locale, scope: :languages)

    = render 'breadcrumbs'

    = yield