!!!
%html{lang: I18n.locale, class: 'no-js'}

  %head
    %title
      - if content_for? :title
        = yield :title
      - else
        = ([translate('views.title')] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe

    / Meta Elements
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    = csrf_meta_tags
    %meta{property: 'og:site_name', content: 'GT Graphics'}
    %meta{property: 'og:type', content: 'website'}
    = facebook_meta_tags
    = yield :head

    / Stylesheets
    = yield :stylesheets

    / JavaScripts
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->

    = yield :javascripts

  %body{class: body_css, data: { namespace: controller_namespace, controller: controller_name, action: action_name, locale: I18n.locale, preferred_locale: current_user.try(:preferred_locale) }}
    = i18n_javascript

    - if content_for? :content
      = yield :content
    - else 
      = yield
      