!!!
%html{lang: I18n.locale}
  %head
    %title GT Graphics
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    %ul.nav
      - MenuItem.includes(:record).each do |menu_item|
        %li= link_to menu_item.title, menu_item_target_path(menu_item)

    = yield