!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        &middot;
      GT Graphics
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = yield :stylesheets
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = yield :javascripts
    = csrf_meta_tags
  %body
    %nav
      %ul
        %li= link_to 'Testimonials', :testimonials
        %li= link_to 'Pages', :pages
        %li= link_to 'Redirections', :redirections

    = yield
