!!!
%html{lang: I18n.locale}

  %head
    %title
      = (["GT Graphics"] + breadcrumbs.collect(&:caption).drop(1)).join(' &middot; ').html_safe

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    = csrf_meta_tags
    = yield :head

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    - if admin_context?
      = stylesheet_link_tag 'admin', media: 'all', data: { turbolinks_track: true }    
    = yield :stylesheets

    = javascript_include_tag 'application', data: { turbolinks_track: true }
    - if admin_context?
      = javascript_include_tag 'admin', data: { turbolinks_track: true }
    = yield :javascripts

  %body{class: admin_context? ? 'admin' : nil, data: { controller: controller_name, action: action_name, locale: I18n.locale }}
    = i18n_javascript
    
    - if content_for? :content
      = yield :content
    - else 
      = yield
