.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
  
      - if content_for? :title
        .modal-header
          = button_tag icon(:times), type: 'button', class: 'close', data: { dismiss: 'modal' }, 'aria-hidden' => true
          %h4.modal-title
            = yield :title
  
      - if content_for? :body_content
        = yield :body_content
      - else
        .modal-body
          - if content_for? :content
            = yield :content
          - else
            = yield

        - if content_for? :footer
          .modal-footer
            = yield :footer