- content_for :stylesheets do
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
  = stylesheet_link_tag 'page_editor', media: 'all', data: { turbolinks_track: true } if editing?

- content_for :javascripts do
  = javascript_include_tag 'application', data: { turbolinks_track: true }
  = javascript_include_tag 'page_editor', data: { turbolinks_track: true } if editing?

- content_for :head do
  %meta{name: 'description', content: @page.meta_description || ''}
  %meta{name: 'keywords', content: @page.meta_keywords || ''}
  %meta{name: 'robots', content: @page.indexable? ? 'index,follow' : 'noindex,follow'}

  - if content_for? :social_meta_tags
    = yield :social_meta_tags
  - else
    %meta{property: 'og:title', content: @page.title}
    %meta{property: 'og:description', content: @page.meta_description || ''}
  %meta{property: 'og:url', content: page_url(@page)}

  %link{rel: 'canonical', href: page_url(@page)}  
  - @page.translated_locales.reject { |locale| locale == I18n.locale }.each do |translated_locale|
    %link{rel: 'alternate', hreflang: translated_locale, href: page_url(@page, locale: translated_locale)}
    
- content_for :content do
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: 'navigation'}
    .container

      .navbar-header
        %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
          = icon(:bars, fixed_width: true)
          %span.sr-only= translate('helpers.links.toggle_navigation')

        = link_to :root, class: 'navbar-brand' do
          %span.sr-only GT Graphics

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          - Page.primary.menu_items.accessible_by(current_ability).with_translations.each do |page|
            = active_link_to page.title, page, wrap_tag: :li, active: @page.self_and_ancestors.include?(page)

        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
              = flag_icon(locale)
              %b.caret
            %ul.dropdown-menu
              - I18n.available_locales.sort_by { |locale| translate(locale, scope: :languages, locale: locale) }.each do |locale|
                = active_link_to page_path(@page, locale: locale), wrap_tag: :li, hreflang: locale, lang: locale, active: locale == I18n.locale, data: { no_turbolink: true } do
                  = prepend_flag_icon(locale, translate(locale, scope: :languages, locale: locale))

  .container
    = render 'breadcrumbs'
    = render_flash(flash.notice, type: :success)
    = render_flash(flash.alert, type: :danger)

    - unless @page.published?
      .alert.alert-warning
        %strong Warning!
        This Page has not been published yet.

    #page_content
      - if content_for? :page_content
        = yield :page_content
      - else
        = yield

    - if signed_in?
      #admin_panel{lang: @editor_locale}
        - I18n.with_locale(@editor_locale || current_user.preferred_locale.presence || I18n.locale) do
          %hr
          = link_to 'Admin', admin_root_path(locale: I18n.locale), data: { no_turbolink: true }
          \|
          = link_to 'Page Settings', edit_admin_page_path(@page, locale: I18n.locale), data: { no_turbolink: true }
          \|
          - if editing?
            = link_to 'View Mode', page_path(@page, edit_mode: false)
          - else
            = link_to 'Edit Mode', page_path(@page, edit_mode: true)

  = render 'footer'

= render template: 'layouts/application'