- content_for :stylesheets do
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }

- content_for :javascripts do
  = javascript_include_tag 'application', data: { turbolinks_track: true }

- content_for :head do
  %meta{name: 'description', content: @page.meta_description || ''}
  %meta{name: 'keywords', content: @page.meta_keywords || ''}
  %meta{name: 'robots', content: @page.indexable? ? 'index,follow' : 'noindex,follow'}

  - # Meta Elements for OpenGraph/Social Media integration
  - if content_for? :social_meta_tags
    = yield :social_meta_tags
  - else
    %meta{property: 'og:title', content: @page.title}
    %meta{property: 'og:description', content: @page.meta_description || ''}
  %meta{property: 'og:url', content: page_url(@page)}

  - # References to other translations
  %link{rel: 'canonical', href: page_url(@page)}  
  - @page.translated_locales.reject { |locale| locale == I18n.locale }.each do |translated_locale|
    %link{rel: 'alternate', hreflang: translated_locale, href: page_url(@page, locale: translated_locale)}
    
- content_for :content do
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: 'navigation'}
    .container

      .navbar-header
        %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
          = icon(:bars, fixed_width: true)
          %span.sr-only= translate('helpers.links.toggle_navigation')

        = link_to :root_page, class: 'navbar-brand' do
          %span.sr-only GT Graphics

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          - @menu_items.each do |page|
            = active_link_to page.title, page, wrap_tag: :li, active: @page.self_and_ancestors.include?(page)

        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
              = flag_icon(locale)
              %b.caret
            %ul.dropdown-menu
              - I18n.available_locales.sort_by { |locale| translate(locale, scope: :languages, locale: locale) }.each do |locale|
                = active_link_to page_path(@page, locale: locale), wrap_tag: :li, hreflang: locale, lang: locale, active: locale == I18n.locale, data: { no_turbolink: true } do
                  = prepend_flag_icon(locale, translate(locale, scope: :languages, locale: locale))

  .container
    = render_flashes    
    = render 'breadcrumbs'

    #page_content
      - if content_for? :page_content
        = yield :page_content
      - else
        = yield

  = render 'footer'

= render template: 'layouts/application'